<!--footer-->
<style>
    .logo-img{
        height: 1.2em;
    }
</style>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <a data-href='{:url("phone/index/main")}'  href="javascript:void(0)" class="dao xz_main">
                    <i class="iconfont wx-logo"><img src="__STATIC__/plugs/phone/images/foot_main.png" class="logo-img"/></i>
                    <i class="iconfont xz-logo hidden"><img src="__STATIC__/plugs/phone/images/foot_main_xz.png" class="logo-img"/></i>
                    <span class="nav_ti">首页</span>
                </a>
            </div>
            <div class="col-xs-3">
                <a data-href='{:url("phone/activity/index")}' href="javascript:void(0)" class="dao xz_wawa">
                    <i class="iconfont wx-logo"><img src="__STATIC__/plugs/phone/images/foot_wawa.png" class="logo-img"/></i>
                    <i class="iconfont xz-logo hidden"><img src="__STATIC__/plugs/phone/images/foot_wawa_xz.png" class="logo-img"/></i>
                    <span class="nav_ti">娃娃</span>
                </a>
            </div>
            <div class="col-xs-3">
                <a data-href='{:url("phone/wallet/index")}' href="javascript:void(0)" class="dao xz_qb">
                    <i class="iconfont wx-logo"><img src="__STATIC__/plugs/phone/images/foot_qb.png" class="logo-img"/></i>
                    <i class="iconfont xz-logo hidden"><img src="__STATIC__/plugs/phone/images/foot_qb_xz.png" class="logo-img"/></i>
                    <span class="nav_ti">钱包</span>
                </a>
            </div>
            <div class="col-xs-3">
                <a data-href='{:url("phone/personal/index")}' href="javascript:void(0)" class="dao xz_wd">
                    <i class="iconfont wx-logo"><img src="__STATIC__/plugs/phone/images/foot_wd.png" class="logo-img"/></i>
                    <i class="iconfont xz-logo hidden"><img src="__STATIC__/plugs/phone/images/foot_wd_xz.png" class="logo-img"/></i>
                    <span class="nav_ti">个人中心</span>
                </a>
            </div>
        </div>
    </div>
</div>
