<!--footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <a data-href='{:url("phone/index/main")}' href="javascript:void(0)" class="dao">
                    <i class="iconfont icon-shouye-copy-copy-copy"></i>
                    <span class="nav_ti">首页</span>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="convenience.html" class="dao">
                    <i class="iconfont icon-quanbu"></i>
                    <span class="nav_ti">娃娃</span>
                </a>
            </div>
            <div class="col-xs-3">
                <a data-href='{:url("phone/wallet/index")}' href="javascript:void(0)" class="dao">
                    <i class="iconfont icon-qianbao-"></i>
                    <span class="nav_ti">钱包</span>
                </a>
            </div>
            <div class="col-xs-3">
                <a data-href='{:url("phone/personal/index")}' href="javascript:void(0)" class="dao">
                    <i class="iconfont icon-information" style="color:#246fc0;"></i>
                    <span class="nav_ti" style="color:#246fc0;">个人中心</span>
                </a>
            </div>
        </div>
    </div>
</div>