{extend name="extra@phone/main"}

{block name="header"}
<link rel="stylesheet" href="__STATIC__/plugs/phone/css/act_style.css?ver={:date('ymd')}" type="text/css" />

<script src="__STATIC__/plugs/phone/js/jquery.min.js?ver={:date('ymd')}" type="text/javascript"></script>

<script src="__STATIC__/plugs/phone/js/bootstrap.min.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/index.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/awardRotate.js?ver={:date('ymd')}" type="text/javascript"></script>
{/block}
{block name="body"}


<!--top-->
<div class="top_c">
    <a data-href='{:url("phone/index/main")}' href="javascript:void(0)" class="iconfont icon-jiantou-copy-copy" ></a>
    <p class="titi">活动</p>
</div>
<!-- 首页 -->
<div class="home_page">
    <div class="top_banner">
        <img src="__STATIC__/plugs/phone/act_images/default_bg.png"/>
    </div>
    <!-- 悬浮按钮 -->
    <div class="xuan_btn xuan_rules"><a href=".rules">规则</a></div>
    <div class="xuan_btn xuan_tudi">徒弟列表<img src="__STATIC__/plugs/phone/act_images/normal_turn_in_icon.png"/></div>

    <!-- 我的徒弟 -->
    <div class="tudi">
        <img class="tudi_title" src="__STATIC__/plugs/phone/act_images/default_pupil_title.png" width="50%"/>
        <div class="tudi_icon">
            <img src="__STATIC__/plugs/phone/act_images/default_pupil_icon.png"/>
            <span>徒弟数量</span>
            <div class="tudi_num tudi_num1">{$share_num}</div>
        </div>
        <div class="tudi_icon">
            <img src="__STATIC__/plugs/phone/act_images/default_effect_pupil_icon.png"/>
            <span>有效徒弟</span>
            <div class="tudi_num tudi_num2">{$share_valid}</div>
        </div>
        <div class="tudi_icon">
            <img src="__STATIC__/plugs/phone/act_images/default_reward_pupil_icon.png"/>
            <span>预计收益</span>
            <div class="tudi_num tudi_num3">0</div>
        </div>
    </div>
    <!-- 我的徒弟end -->

    <!-- 排行 -->
    <div class="rank">
        <div class="rank_list rank_two rank_list2">
            <div class="rank_num">500</div>
            <img src="__STATIC__/plugs/phone/act_images/default_second_icon.png"/>
            <div class="rank_pic">
                <img src="__STATIC__/plugs/phone/act_images/default_quesiton_icon.png"/>
            </div>
            <div class="rank_name">昵称66666</div>
            <div class="rank_gift">iPhone7</div>
        </div>
        <div class="rank_list rank_one rank_list1">
            <div class="rank_num">700</div>
            <img src="__STATIC__/plugs/phone/act_images/default_first_icon.png"/>
            <div class="rank_pic">
                <img src="__STATIC__/plugs/phone/act_images/default_quesiton_icon.png"/>
            </div>
            <div class="rank_name">昵称66666</div>
            <div class="rank_gift">iPhoneX</div>
        </div>
        <div class="rank_list rank_three rank_list3">
            <div class="rank_num">400</div>
            <img src="__STATIC__/plugs/phone/act_images/default_third_icon.png"/>
            <div class="rank_pic">
                <img src="__STATIC__/plugs/phone/act_images/default_quesiton_icon.png"/>
            </div>
            <div class="rank_name">昵称2B2B2B</div>
            <div class="rank_gift">iPhone6</div>
        </div>
    </div>

    <!-- 上榜 -->
    <div class="go_rank">
        <img src="__STATIC__/plugs/phone/act_images/default_rule_into_btn.png" width="100%"/>
    </div>
    <!-- 阶段奖励 -->
    <div class="award">
        <img class="award_title" src="__STATIC__/plugs/phone/act_images/default_list_title.png"/>
        <div class="aw_title_font">本阶段奖励<span>999</span>元</div>
        <div class="award_main">
            <div class="award_main_title">
                <div class="award_main_name">第<span>一</span>阶段进行中：</div>
                <div class="award_main_progess">
                    <div class="a_mian_p_p">
                        <div class="a_mian_fill"></div>
                    </div>
                    <div class="a_mian_pic">
                        <img src="__STATIC__/plugs/phone/act_images/default_list_header_icon.png"/>
                        <span class="a_mian_oder">1</span>/<span class="a_mian_oder2">2</span>
                    </div>
                </div>
            </div>
            <div class="award_main_content">
                <!-- 绝对定位铺路 -->
                <img class="road road1" src="__STATIC__/plugs/phone/act_images/default_road_1.png"/>
                <img class="road road2" src="__STATIC__/plugs/phone/act_images/default_road_1.png"/>
                <img class="road road3" src="__STATIC__/plugs/phone/act_images/default_road_3.png"/>
                <img class="road road4" src="__STATIC__/plugs/phone/act_images/default_road_2.png"/>
                <img class="road road5" src="__STATIC__/plugs/phone/act_images/default_road_2.png"/>
                <img class="road road6" src="__STATIC__/plugs/phone/act_images/default_road_3.png"/>
                <img class="road road7" src="__STATIC__/plugs/phone/act_images/default_road_1.png"/>
                <img class="road road8" src="__STATIC__/plugs/phone/act_images/default_road_1.png"/>
                <img class="road road9" src="__STATIC__/plugs/phone/act_images/default_road_3.png"/>
                <img class="road road10" src="__STATIC__/plugs/phone/act_images/default_road_2.png"/>
                <img class="road road11" src="__STATIC__/plugs/phone/act_images/default_road_2.png"/>
                <img class="road road12" src="__STATIC__/plugs/phone/act_images/default_road_3.png"/>

                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>9</span>元</div>
                        <span class="aw_tudi">收徒<font>2</font>名</span>
                    </div>
                </div>
                <div class="award_con_list award_con_middle">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>14</span>元</div>
                        <span class="aw_tudi">收徒<font>3</font>名</span>
                    </div>
                </div>
                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>30</span>元</div>
                        <span class="aw_tudi">收徒<font>6</font>名</span>
                    </div>
                </div>

                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>50</span>元</div>
                        <span class="aw_tudi">收徒<font>9</font>名</span>
                    </div>
                </div>
                <div class="award_con_list award_con_middle">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>90</span>元</div>
                        <span class="aw_tudi">收徒<font>15</font>名</span>
                    </div>
                </div>
                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>126</span>元</div>
                        <span class="aw_tudi">收徒<font>20</font>名</span>
                    </div>
                </div>

                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>224</span>元</div>
                        <span class="aw_tudi">收徒<font>35</font>名</span>
                    </div>
                </div>
                <div class="award_con_list award_con_middle">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>420</span>元</div>
                        <span class="aw_tudi">收徒<font>60</font>名</span>
                    </div>
                </div>
                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>900</span>元</div>
                        <span class="aw_tudi">收徒<font>120</font>名</span>
                    </div>
                </div>

                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>2280</span>元</div>
                        <span class="aw_tudi">收徒<font>300</font>名</span>
                    </div>
                </div>
                <div class="award_con_list award_con_middle">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>4600</span>元</div>
                        <span class="aw_tudi">收徒<font>600</font>名</span>
                    </div>
                </div>
                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>6400</span>元</div>
                        <span class="aw_tudi">收徒<font>800</font>名</span>
                    </div>
                </div>

                <div class="award_con_list_last">
                    <img src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_2.png"/>
                    <div class="aw_con_list_font">
                        <div><span>9999</span>元</div>
                        <span class="aw_tudi">收徒<font>1200</font>名</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- 活动规则 -->
    <div class="rules">
        <img src="__STATIC__/plugs/phone/act_images/rules.png"/>
        <ul class="rules_ul">
            <li>活动时间：2018年4月27日18：00—2018年5月10日18：00</li>
            <li>1. 奖励发放时间：实时发放</li>
            <li>活动期间内，邀请的有效徒弟达指定人数，可获得阶梯现金奖励，最高可以额外获得9999元。同时对活动中邀请有效徒弟排名前三名者；分别送iPhone X 、iPhone 7、iPhone 6一台；现金奖励以最高梯度计算，收徒越多，奖励越高。</li>
            <li>2. 凡参加活动者即可获得一次免费抽奖的机会，同时每邀请一位有效徒弟增加一次抽奖机会，100%中奖机率，邀请的人数越多，中大奖的机会越高。</li>
            <li>3. 有效徒弟：活动时期间内任意一天，邀请的徒弟给师傅贡献阅读奖励（120金币）5次；即视为有效徒弟。</li>
            <li>4. 奖励发放:阶梯奖励在上一阶梯的基础上发放，达到第一个阶梯奖励9元，达到第二个阶梯再奖励5元，总共一起为14元;达到第三个阶梯再奖励16元，总共为30元，以此类推。</li>
            <li class="rules_specil">特别说明:为保证活动的公平性，对于存在违规收徒行为的用户，平台将取消其参加活动的资格，并扣除所有奖励，请遵守平台规则，正常邀请收徒。本活动最终解释权归阿斗夹娃娃所有。</li>
        </ul>
    </div>
    <div class="display_block"></div>
    <!-- 底部btn -->
    <div class="footer">
        <div class="footer_btn footer_left">幸运大抽奖</div>
        <div class="footer_btn footer_right"><a href="function://callapp?f=test&title=参与悦头条赚9999元，送iPhone X&description=14天赚9999元，再送iPhone X，零投入高回报，1元可提现，下载即送现金，赶紧点击赚钱吧！&image=http://hbhunter.oss-cn-qingdao.aliyuncs.com/assets/shoutu0119.png&link=http://url.cn/5ixHRoG&callback=shareDone">立领9999元</a></div>
    </div>
</div>




<script>
    $(function() {
        function init() {
            var H = $(window).height(),
                    W = $(window).width();
            $(".cover").css({"width": W, "height": H});
            $(".go_rank").click(function() {
                $(".home_page").hide();
                $(".rank_page").fadeIn(500);
            });
            $(".footer_left").click(function() {
                $(".cover,.zhuanpan").fadeIn(100);

            });
            $(".cover,.turn_close").click(function() {
                $(".cover").fadeOut(300);
                $(".zhuanpan").hide();
            });
            $(".xuan_home").click(function() {
                $(".rank_page,.tudi_all").hide();
                $(".home_page").fadeIn(300);
            });
            $(".xuan_rules a").click(function () {
                $("html, body").animate({scrollTop: $($(this).attr("href")).offset().top -0+ "rem"}, 500);
                return false;
            });
            $(".xuan_tudi,.tudi").click(function() {
                $(".home_page").hide();
                $(".tudi_all").fadeIn(400);
            });
        }

        init();


        //获取分享徒弟 数量

    });
</script>

{/block}