{extend name="extra@phone/main"}

{block name="header"}
<link rel="stylesheet" href="__STATIC__/plugs/phone/css/act_style.css?ver={:date('ymd')}" type="text/css" />

<script src="__STATIC__/plugs/phone/js/jquery.min.js?ver={:date('ymd')}" type="text/javascript"></script>

<script src="__STATIC__/plugs/phone/js/bootstrap.min.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/index.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/awardRotate.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/pay_page.js?ver={:date('ymd')}" type="text/javascript"></script>
{/block}
{block name="body"}


<!--top-->
<div class="top_c">
    <a data-href='{:url("phone/index/main")}' href="javascript:void(0)" class="iconfont icon-jiantou-copy-copy" ></a>
    <p class="titi">活动</p>
</div>
<!-- 首页 -->
<div class="home_page">
    <div class="top_banner">
        <img src="__STATIC__/plugs/phone/act_images/default_bg.png"/>
    </div>
    <!-- 悬浮按钮 -->
    <div class="xuan_btn xuan_rules"><a href=".rules">规则</a></div>
    <div class="xuan_btn xuan_tudi">徒弟列表<img src="__STATIC__/plugs/phone/act_images/normal_turn_in_icon.png"/></div>

    <!-- 我的徒弟 -->
    <div class="tudi">
        <img class="tudi_title" src="__STATIC__/plugs/phone/act_images/default_pupil_title.png" width="50%"/>
        <div class="tudi_icon">
            <img src="__STATIC__/plugs/phone/act_images/default_pupil_icon.png"/>
            <span>徒弟数量</span>
            <div class="tudi_num tudi_num1">{$share_num|default="0"}</div>
        </div>
        <div class="tudi_icon">
            <img src="__STATIC__/plugs/phone/act_images/default_effect_pupil_icon.png"/>
            <span>有效徒弟</span>
            <div class="tudi_num tudi_num2">{$share_valid|default="0"}</div>
        </div>
        <div class="tudi_icon">
            <img src="__STATIC__/plugs/phone/act_images/default_reward_pupil_icon.png"/>
            <span>预计收益</span>
            <div class="tudi_num tudi_num3">0</div>
        </div>
    </div>
    <!-- 我的徒弟end -->

    <!-- 排行 -->
    <div class="rank">
        <div class="rank_list rank_two rank_list2">
            <div class="rank_num">{$list[1]['share_valid']|default="-"}</div>
            <img src="__STATIC__/plugs/phone/act_images/default_second_icon.png"/>
            <div class="rank_pic">
                <img src="{$list[1]['pic']|default='__STATIC__/plugs/phone/act_images/default_quesiton_icon.png'}"/>
            </div>
            <div class="rank_name">{$list[1]['name']|default="缺席"}</div>
            <div class="rank_gift">娃娃1</div>
        </div>
        <div class="rank_list rank_one rank_list1">
            <div class="rank_num">{$list[0]['share_valid']|default="-"}</div>
            <img src="__STATIC__/plugs/phone/act_images/default_first_icon.png"/>
            <div class="rank_pic">
                <img src="{$list[0]['pic']|default='__STATIC__/plugs/phone/act_images/default_quesiton_icon.png'}"/>
            </div>
            <div class="rank_name">{$list[0]['name']|default="缺席"}</div>
            <div class="rank_gift">娃娃0</div>
        </div>
        <div class="rank_list rank_three rank_list3">
            <div class="rank_num">{$list[2]['share_valid']|default="-"}</div>
            <img src="__STATIC__/plugs/phone/act_images/default_third_icon.png"/>
            <div class="rank_pic">
                <img src="{$list[2]['pic']|default='__STATIC__/plugs/phone/act_images/default_quesiton_icon.png'}"/>
            </div>
            <div class="rank_name">{$list[2]['name']|default="缺席"}</div>
            <div class="rank_gift">娃娃2</div>
        </div>
    </div>

    <!-- 上榜 -->
    <div class="go_rank">
        <img src="__STATIC__/plugs/phone/act_images/default_rule_into_btn.png" width="100%"/>
    </div>
    <!-- 阶段奖励 -->
    <div class="award hidden">
        <img class="award_title" src="__STATIC__/plugs/phone/act_images/default_list_title.png"/>
        <div class="aw_title_font">本阶段奖励<span>999</span>元</div>
        <div class="award_main">
            <div class="award_main_title">
                <div class="award_main_name">第<span>一</span>阶段进行中：</div>
                <div class="award_main_progess">
                    <div class="a_mian_p_p">
                        <div class="a_mian_fill"></div>
                    </div>
                    <div class="a_mian_pic">
                        <img src="__STATIC__/plugs/phone/act_images/default_list_header_icon.png"/>
                        <span class="a_mian_oder">1</span>/<span class="a_mian_oder2">2</span>
                    </div>
                </div>
            </div>
            <div class="award_main_content">
                <!-- 绝对定位铺路 -->
                <img class="road road1" src="__STATIC__/plugs/phone/act_images/default_road_1.png"/>
                <img class="road road2" src="__STATIC__/plugs/phone/act_images/default_road_1.png"/>
                <img class="road road3" src="__STATIC__/plugs/phone/act_images/default_road_3.png"/>
                <img class="road road4" src="__STATIC__/plugs/phone/act_images/default_road_2.png"/>
                <img class="road road5" src="__STATIC__/plugs/phone/act_images/default_road_2.png"/>
                <img class="road road6" src="__STATIC__/plugs/phone/act_images/default_road_3.png"/>
                <img class="road road7" src="__STATIC__/plugs/phone/act_images/default_road_1.png"/>
                <img class="road road8" src="__STATIC__/plugs/phone/act_images/default_road_1.png"/>
                <img class="road road9" src="__STATIC__/plugs/phone/act_images/default_road_3.png"/>
                <img class="road road10" src="__STATIC__/plugs/phone/act_images/default_road_2.png"/>
                <img class="road road11" src="__STATIC__/plugs/phone/act_images/default_road_2.png"/>
                <img class="road road12" src="__STATIC__/plugs/phone/act_images/default_road_3.png"/>

                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>9</span>元</div>
                        <span class="aw_tudi">收徒<font>2</font>名</span>
                    </div>
                </div>
                <div class="award_con_list award_con_middle">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>14</span>元</div>
                        <span class="aw_tudi">收徒<font>3</font>名</span>
                    </div>
                </div>
                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>30</span>元</div>
                        <span class="aw_tudi">收徒<font>6</font>名</span>
                    </div>
                </div>

                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>50</span>元</div>
                        <span class="aw_tudi">收徒<font>9</font>名</span>
                    </div>
                </div>
                <div class="award_con_list award_con_middle">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>90</span>元</div>
                        <span class="aw_tudi">收徒<font>15</font>名</span>
                    </div>
                </div>
                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>126</span>元</div>
                        <span class="aw_tudi">收徒<font>20</font>名</span>
                    </div>
                </div>

                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>224</span>元</div>
                        <span class="aw_tudi">收徒<font>35</font>名</span>
                    </div>
                </div>
                <div class="award_con_list award_con_middle">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>420</span>元</div>
                        <span class="aw_tudi">收徒<font>60</font>名</span>
                    </div>
                </div>
                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>900</span>元</div>
                        <span class="aw_tudi">收徒<font>120</font>名</span>
                    </div>
                </div>

                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>2280</span>元</div>
                        <span class="aw_tudi">收徒<font>300</font>名</span>
                    </div>
                </div>
                <div class="award_con_list award_con_middle">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>4600</span>元</div>
                        <span class="aw_tudi">收徒<font>600</font>名</span>
                    </div>
                </div>
                <div class="award_con_list">
                    <img class="award_bg" src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_1.png"/>
                    <div class="aw_con_list_font">
                        <div><span>6400</span>元</div>
                        <span class="aw_tudi">收徒<font>800</font>名</span>
                    </div>
                </div>

                <div class="award_con_list_last">
                    <img src="__STATIC__/plugs/phone/act_images/default_wait_reward_img_2.png"/>
                    <div class="aw_con_list_font">
                        <div><span>9999</span>元</div>
                        <span class="aw_tudi">收徒<font>1200</font>名</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- 活动规则 -->
    <div class="rules">
        <img src="__STATIC__/plugs/phone/act_images/rules.png"/>
        <ul class="rules_ul">
            {foreach $des_arr as $key=>$vo}
            <li>{$vo}</li>
            {/foreach}
            <li class="rules_specil">特别说明:为保证活动的公平性，对于存在违规收徒行为的用户，平台将取消其参加活动的资格，并扣除所有奖励，请遵守平台规则，正常邀请收徒。本活动最终解释权归阿斗夹娃娃所有。</li>
        </ul>
    </div>
    <div class="display_block"></div>
    <!-- 底部btn -->
    <div class="footer">
        <div class="footer_btn footer_left">幸运大抽奖</div>
        {if $phone eq ''}
        <div class="footer_btn footer_right"><a data-href='{:url("phone/activity/phone")}' href="javascript:void(0)">立领购买({$pay_price}元)</a></div>
        {else}
        <div class="footer_btn footer_right"><a onclick="act_pay('{$product_code}', '{$icons_type}')">立领购买({$pay_price}元)</a></div>
        {/if}
    </div>
</div>




<script>
    $(function() {
        function init() {
            var H = $(window).height(),
                    W = $(window).width();
            $(".cover").css({"width": W, "height": H});
            $(".go_rank").click(function() {
                $(".home_page").hide();
                $(".rank_page").fadeIn(500);
            });
            $(".footer_left").click(function() {
                $(".cover,.zhuanpan").fadeIn(100);

            });
            $(".cover,.turn_close").click(function() {
                $(".cover").fadeOut(300);
                $(".zhuanpan").hide();
            });
            $(".xuan_home").click(function() {
                $(".rank_page,.tudi_all").hide();
                $(".home_page").fadeIn(300);
            });
            $(".xuan_rules a").click(function () {
                $("html, body").animate({scrollTop: $($(this).attr("href")).offset().top -0+ "rem"}, 500);
                return false;
            });
            $(".xuan_tudi,.tudi").click(function() {
                $(".home_page").hide();
                $(".tudi_all").fadeIn(400);
            });
        }

        init();


        //获取分享徒弟 数量

    });

    var act_pay = function(proCode, payType){
        var payUrl = "{:url('phone/apiwawa/index')}";
        console.log('pay url ' + payUrl)
        mini_send(payUrl, proCode, payType);
    }

</script>

{/block}