{extend name="extra@phone/main"}

{block name="header"}
<link rel="stylesheet" href="__STATIC__/plugs/phone/css/act_style.css?ver={:date('ymd')}" type="text/css" />

<script src="__STATIC__/plugs/phone/js/jquery.min.js?ver={:date('ymd')}" type="text/javascript"></script>

<script src="__STATIC__/plugs/phone/js/bootstrap.min.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/index.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/awardRotate.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/pay_page.js?ver={:date('ymd')}" type="text/javascript"></script>
{/block}
{block name="body"}


<!--top-->
<div class="top_c">
    <a data-href='{:url("phone/index/main")}' href="javascript:void(0)" class="iconfont icon-jiantou-copy-copy" ></a>
    <p class="titi">活动</p>
</div>
<!-- 首页 -->
<div class="home_page" value="{$product_code}">
    <div class="top_banner">
        <img src="__STATIC__/{$act_pic_show}"/>
    </div>
    <!-- 悬浮按钮 -->
    <div class="xuan_btn xuan_rules"><a href=".rules">规则</a></div>
    <div class="xuan_btn xuan_tudi" onclick="getDisciple('{$product_code}', '{$code}')">徒弟列表<img src="__STATIC__/plugs/phone/act_images/normal_turn_in_icon.png"/>
    </div>

    <!-- 我的徒弟数量 -->
    <div class="tudi">
        <img class="tudi_title" src="__STATIC__/plugs/phone/act_images/default_pupil_title.png" width="50%"/>
        <div class="tudi_icon">
            <img src="__STATIC__/plugs/phone/act_images/default_pupil_icon.png"/>
            <span>徒弟数量</span>
            <div class="tudi_num tudi_num1">{$share_num|default="0"}</div>
        </div>
        <div class="tudi_icon">
            <img src="__STATIC__/plugs/phone/act_images/default_effect_pupil_icon.png"/>
            <span>有效徒弟</span>
            <div class="tudi_num tudi_num2">{$share_valid|default="0"}</div>
        </div>
        <div class="tudi_icon">
            <img src="__STATIC__/plugs/phone/act_images/default_reward_pupil_icon.png"/>
            <span>预计收益</span>
            <div class="tudi_num tudi_num3">0</div>
        </div>
    </div>
    <!-- 我的徒弟end -->

    <!-- 排行top3 -->
    <div class="rank">
        <div class="rank_list rank_two rank_list2">
            <div class="rank_num">{$list[1]['share_valid']|default="-"}</div>
            <img src="__STATIC__/plugs/phone/act_images/default_second_icon.png"/>
            <div class="rank_pic">
                <img src="{$list[1]['pic']|default='__STATIC__/plugs/phone/act_images/default_quesiton_icon.png'}"/>
            </div>
            <div class="rank_name">{$list[1]['name']|default="缺席"}</div>
            <div class="rank_gift">娃娃1</div>
        </div>
        <div class="rank_list rank_one rank_list1">
            <div class="rank_num">{$list[0]['share_valid']|default="-"}</div>
            <img src="__STATIC__/plugs/phone/act_images/default_first_icon.png"/>
            <div class="rank_pic">
                <img src="{$list[0]['pic']|default='__STATIC__/plugs/phone/act_images/default_quesiton_icon.png'}"/>
            </div>
            <div class="rank_name">{$list[0]['name']|default="缺席"}</div>
            <div class="rank_gift">娃娃0</div>
        </div>
        <div class="rank_list rank_three rank_list3">
            <div class="rank_num">{$list[2]['share_valid']|default="-"}</div>
            <img src="__STATIC__/plugs/phone/act_images/default_third_icon.png"/>
            <div class="rank_pic">
                <img src="{$list[2]['pic']|default='__STATIC__/plugs/phone/act_images/default_quesiton_icon.png'}"/>
            </div>
            <div class="rank_name">{$list[2]['name']|default="缺席"}</div>
            <div class="rank_gift">娃娃2</div>
        </div>
    </div>

    <!-- 上榜 -->
    <div class="go_rank" onclick="updateShareList('{$code}', '')">
        <img src="__STATIC__/plugs/phone/act_images/default_rule_into_btn.png" width="100%"/>
    </div>

    <!-- 商家图片 -->
    <div class="rules" >
        <img src="__STATIC__/plugs/phone/act_images/act1_vender.jpg" width="100%"/>
        <img src="__STATIC__/plugs/phone/act_images/act1_pro.jpg" width="100%"/>
    </div>

    <!-- 活动规则 -->
    <div class="rules">
        <img src="__STATIC__/plugs/phone/act_images/rules.png"/>
        <ul class="rules_ul">
            {foreach $des_arr as $key=>$vo}
            <li>{$vo}</li>
            {/foreach}
            <li class="rules_specil">特别说明:为保证活动的公平性，对于存在违规收徒行为的用户，平台将取消其参加活动的资格，并扣除所有奖励，请遵守平台规则，正常邀请收徒。本活动最终解释权归阿斗夹娃娃所有。</li>
        </ul>
    </div>

    <div class="display_block">
        <audio id="actAudio" class="hidden" src="__STATIC__/{$act_audio}" controls loop autoplay></audio>
    </div>
    <!-- 底部btn -->
    <div class="footer">
        <div class="footer_btn footer_left" onclick="act_luck()">幸运大抽奖</div>
        {if $phone eq ''}
        <div class="footer_btn footer_right"><a data-href='{:url("phone/activity/phone")}' href="javascript:void(0)">立领购买({$pay_price}元)</a></div>
        {else}
        <div class="footer_btn footer_right"><a onclick="act_pay('{$product_code}', '{$icons_type}')">立领购买({$pay_price}元)</a></div>
        {/if}
    </div>
</div>


<!-- 收徒列表 -->
<div class="tudi_all">
    <div class="tudi_all_banner">
        <img src="__STATIC__/plugs/phone/act_images/tudi_bg.png"/>
    </div>
    <div class="xuan_btn xuan_home"><img src="__STATIC__/plugs/phone/act_images/normal_return_icon.png"/>活动首页</div>
    <div class="tudi_content">
        <div class="tudi_con_table">
            <table>
                <tr class="tudi_con_tab_tr">
                    <td>昵称</td>
                    <td>邀请状态</td>
                    <td>注册时间</td>
                </tr>
                <tr class="tudi_false"></tr>
            </table>
        </div>
        <div class="table_page">
            <div class="table_page_left">上一页</div>
            <div class="table_page_middle">
                <span>1</span>/<font>20</font>
            </div>
            <div class="table_page_right">下一页</div>
        </div>
    </div>
    <div class="r_page_invite">
        <ul>
            <li>什么是有效徒弟?<br>
                <span>活动期间每收取1个新徒弟在任意1天徒弟购买活动产品，即视为有效徒弟。</span></li>
            <li>如何快速收徒弟?<br>
                <span>可以通过QQ,微信朋友圈等线上渠道邀请好友，也可以尝试面对面扫码邀请好友</span></li>
        </ul>
    </div>
</div>

<!-- 邀请总榜 -->
<div class="rank_page">
    <div class="rank_page_banner">
        <img src="__STATIC__/plugs/phone/act_images/list_bg.png" width="100%"/>
    </div>
    <div class="xuan_btn xuan_home"><img src="__STATIC__/plugs/phone/act_images/normal_return_icon.png"/>活动首页</div>
    <div class="rank_page_png">
        <img src="__STATIC__/plugs/phone/act_images/list_board_img.png" width="100%"/>
    </div>
    <div class="rank_page_main">
        <div class="rank_page_main_font">有效徒弟排行榜<br>活动结束后，前三名可以获得丰富奖励</div>
        <div class="rank_page_now">
            您当前排名:<span>{$share_pos.pos}</span>, 距离前一名差<font>{$share_pos.czNum}</font>人
        </div>
        <div class="rank_page_three">
            {foreach $list as $key=>$vo}
            {if $key eq 3}
              break;
            {/if}
            <div class="rank_page_lists">
                <div class="r_page_list_num r_page_num{$key+1}">{$key+1}</div>
                <div class="r_page_list_pic">
                    <img src="__STATIC__/plugs/phone/act_images/n_reward{$key+1}.png"/>
                    <span>娃娃</span>
                </div>
                <div class="r_page_list_name">
                    <div class="r_duti_num speical_red">{$vo.share_valid}</div>
                    <div class="r_page_web_name">{$vo.name}</div>
                </div>
            </div>
            {/foreach}

        </div>
        <div class="r_page_table">
            <table cellspacing="0">
                <tr class="r_page_t1">
                    <td>排名</td>
                    <td>昵称</td>
                    <td>有效徒弟</td>
                </tr>
                <tr class="r_page_t1">
                    <td>{$share_pos.pos}</td>
                    <td>{$share_pos.name}</td>
                    <td>{$share_pos.curNum}</td>
                </tr>
                <tr class="r_false"></tr>
            </table>
        </div>
    </div>
</div>


<script>
    $(function() {
        function init() {
            var homeValue = $(".home_page").attr('value');
            if(homeValue != 'A-00001'){

                $(".home_page").css('background', '#f4324d');
            }
            var H = $(window).height(),
                    W = $(window).width();
            $(".cover").css({"width": W, "height": H});
            $(".go_rank").click(function() {
                $(".home_page").hide();
                $(".rank_page").fadeIn(500);

            });
            $(".footer_left").click(function() {
                $(".cover,.zhuanpan").fadeIn(100);

            });
            $(".cover,.turn_close").click(function() {
                $(".cover").fadeOut(300);
                $(".zhuanpan").hide();
            });
            $(".xuan_home").click(function() {
                $(".rank_page,.tudi_all").hide();
                $(".home_page").fadeIn(300);
            });
            $(".xuan_rules a").click(function () {
                $("html, body").animate({scrollTop: $($(this).attr("href")).offset().top -0+ "rem"}, 500);
                return false;
            });
            $(".xuan_tudi,.tudi").click(function() {
                $(".home_page").hide();
                $(".tudi_all").fadeIn(400);
            });
        }

        init();


        //控制音乐
        //监听切换后台事件
        document.addEventListener('webkitvisibilitychange',function(){
            if (document.hidden) {
                $('#actAudio')[0].pause();
            } else  {
                $('#actAudio')[0].play();
            }

        });

    });

    //购买支付
    var act_pay = function(proCode, payType){
        var payUrl = "{:url('phone/apiwawa/index')}";
        console.log('pay url ' + payUrl)
        mini_send(payUrl, proCode, payType);
    }
    //更新邀请排名 top3
    function act_luck(curUserCode, shareList){
        if( confirm("未开通此功能") == false ){
            return;
        }
    }

    //更新邀请排名 top3
    function updateShareList(curUserCode, shareList){

        var shareList = $(".go_rank").val();
        //top 3
        for (var i=0;i<3; i++){
            var tmpShare = shareList[i];

            //排名奖励信息
            var s_img_reward = '<img src="__STATIC__/plugs/phone/act_images/n_one2x.png"/>';
            var s_span_reward = '<span>'+ '娃娃' + '</span>';
            var s_div_reward = '<div class="r_page_list_pic">' + s_img_reward + s_span_reward + '</div>';

            //排名用户信息
            var s_div_tudi_num = '<div class="r_duti_num">' + tmpShare['share_valid'] + '</div>'
            var s_div_name = ' <div class="r_page_web_name">' + tmpShare['name'] + '</div>'
            var s_div_user = '<div class="r_page_list_name">' + s_div_tudi_num + s_div_name + '</div>';

            //排名
            var shareNum = i+1;
            var s_div_num = '<div class="r_page_list_num r_page_num3">' + shareNum + '</div>';
            var s_div_wap = '<div class="rank_page_lists">' + s_div_num + s_div_reward + s_div_user + '</div>'

        }

        $('.rank_page_three').html(s_div_wap);

    }

    //更新徒弟列表页面
    function updateTudiList(tudiList)
    {
        var t_td_header = '<td>昵称</td>' + '<td>邀请状态</td>' + '<td>注册时间</td>'
        var t_tr_header = '<tr class="tudi_con_tab_tr">' + t_td_header + '</tr>';
        var t_tr_end = '<tr class="tudi_false"></tr>'

        var t_tr_all = '';
        for (var i=0;i<tudiList.length;i++)
        {
            var tmpTudi = tudiList[i];

            var tmpTuStatus = '未成功';
            if(tmpTudi['s_status'] == 1){
                //收徒成功
                tmpTuStatus = '成功';
            }
            var tmpDate = /\d{4}-\d{1,2}-\d{1,2}/g.exec(tmpTudi['update_at']);  //去除时间
            var t_td_name = '<td>' + tmpTudi['name'] + '</td>'
            var t_td_status = '<td>' + tmpTuStatus + '</td>'
            var t_td_date =  '<td>' + tmpDate + '</td>'
            var t_tr_data = '<tr class="tudi_con_tab_tr">' + t_td_name + t_td_status + t_td_date + '</tr>';
            t_tr_all = t_tr_all + t_tr_data;
        }
        var t_table = '<table>' + t_tr_header + t_tr_all + t_tr_end + '</table>';

        $('.tudi_con_table').html(t_table);


    }

    function getDisciple(proCode, userCode)
    {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{:url('phone/activity/disciple')}" ,//url
            data: {product_code: proCode, code: userCode},
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 1) {
                    console.log("成功！");
                    //更新徒弟列表页面
                    tudi_list = result.data;
                    updateTudiList(tudi_list)

                }else{
                    console.log("失败！");
                }
            },
            error : function() {
                alert("网络异常！");
            }
        });

    }

</script>

{/block}