
{extend name="extra@phone/main"}
{block name="header"}
<head>

    <link href="http://at.alicdn.com/t/font_l6a0fwucxvzehfr.css" rel="stylesheet" type="text/css" />

    <style>
        .form-group{ border-bottom:1px solid #ececec; overflow:hidden; padding:0.429em 0 0.286em; margin-bottom:0;}
        .form-group .col-xs-4{ padding-left:0; padding-right:0.714em; color:#333;}
        .form-group .col-xs-8{ padding:0;}
        .control-label{ line-height:2.143em; text-align:right;}
        .form-control{ box-shadow:none; padding:0 0.429em; height:2.143em; border:none;}
    </style>

</head>
{/block}

{block name="body"}

<!--top-->
<div class="top_c">
    <a onclick="pageBack()"  class="iconfont icon-jiantou-copy-copy" ></a>
    <p class="titi">活动电话</p>
</div>

<!--内容-->
<div class="cong">
    <form id="address-form" class="form message magic send_message_form" method="post" action="##">

        <div class="container" style="background:#fff;">

            <div class="form-group">
                <label for="inputEmail2" class="col-xs-4 control-label">手机号码</label>
                <div class="col-xs-8">
                    <input type="email" pattern="^1[3-9][0-9]{9}$" class="form-control" id="inputEmail2" value="{$phone}" name="phone" placeholder="请输入您的手机号码">
                </div>
            </div>

        </div>

        <div class="container">
            <input type="button"  class="deng"  value="保 存" onclick="savePhone()" style="margin-top:3em;">
        </div>
    </form>
</div>





<script src="__STATIC__/plugs/phone/js/jquery.min.js?ver={:date('ymd')}" type="text/javascript"></script>

<script src="__STATIC__/plugs/phone/js/bootstrap.min.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/index.js?ver={:date('ymd')}" type="text/javascript"></script>

<script>
    function savePhone()
    {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{:url('phone/activity/save')}" ,//url
            data: $('#address-form').serialize(),
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 1) {
                    alert("成功！");
                    window.history.back(-1);
                }else{
                    alert("失败！");
                }
            },
            error : function() {
                alert("异常！");
            }
        });

    }
    function pageBack()
    {
        window.history.back(-1);
    }

</script>


{/block}

