{extend name="extra@phone/main"}
{block name="header"}
<head>

    <link href="http://at.alicdn.com/t/font_l6a0fwucxvzehfr.css" rel="stylesheet" type="text/css" />

</head>
{/block}

{block name="body"}

<!--top-->
<div class="top_c">

</div>



<!--列表-->
<div class="addr">
    <div class="container">

        <div class="add">

            <a href="#">
            <p>接口名：超期兑换<i>地址：</i></p>
            <span>参数：</span>
            </a>
            </a>
            <div class="mo button">

                <a onclick="testApi('auto_exchange')" class="liji">请求</a>

            </div>

        </div>
        <div class="add">

            <a href="#">
                <p>接口名：抓取排行榜<i>地址：</i></p>
                <span>参数：</span>
            </a>
            </a>
            <div class="mo button">

                <a onclick="testApi('get_top_catch')" class="liji">请求</a>

            </div>

        </div>
    </div>
</div>

<div class="ding_d">
    <div class="button">
        <a href="#" class="lip" style="float: none;margin: 0 auto;">接口测试</a>
    </div>
</div>


<div class="ding_d">

</div>
{/block}

{block name="script"}
<script src="__STATIC__/plugs/phone/js/jquery.min.js?ver={:date('ymd')}" type="text/javascript"></script>

<script src="__STATIC__/plugs/phone/js/bootstrap.min.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/index.js?ver={:date('ymd')}" type="text/javascript"></script>

<script  type="text/javascript">

    function testApi(type)
    {
        if( confirm("你确认测试吗？") == false ){
            return;
        }
        var reqData = {type:'auto_exchange'}
        if(type == 'auto_exchange'){
            reqData = {type:'auto_exchange'}
        }else if(type == 'get_top_catch'){
            reqData = {type:'get_top_catch', room_id: 'els'}
        }

        $.post("{:url('phone/apiwawa/index')}", {json: reqData}, function(ret){
            console.log(ret);
            var retObj = $.parseJSON(ret)
            if(retObj.code == 0){
                alert("成功！");
                //location.reload();

            }else{
                alert("异常！");
            }

        }, 'json');


    }

</script>

{/block}