{extend name="extra@phone/main"}
{block name="header"}
<head>

    <link href="http://at.alicdn.com/t/font_l6a0fwucxvzehfr.css" rel="stylesheet" type="text/css" />

</head>
{/block}

{block name="body"}

<!--top-->
<div class="top_c">

</div>



<!--列表-->
<div class="addr">
    <div class="container">

        <div class="add">

            <a href="#">
            <p>接口名：超期兑换<i>地址：</i></p>
            <span>参数：</span>
            </a>
            </a>
            <div class="mo button">

                <a onclick="testApi()" class="liji">请求</a>

            </div>

        </div>

    </div>
</div>

<div class="ding_d">
    <div class="button">
        <a href="#" class="lip" style="float: none;margin: 0 auto;">接口测试</a>
    </div>
</div>


<div class="ding_d">

</div>
{/block}

{block name="script"}
<script src="__STATIC__/plugs/phone/js/jquery.min.js?ver={:date('ymd')}" type="text/javascript"></script>

<script src="__STATIC__/plugs/phone/js/bootstrap.min.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/index.js?ver={:date('ymd')}" type="text/javascript"></script>

<script  type="text/javascript">

    //选择地址信息 事件处理
    function chooseAddress(addressId, isChoose)
    {
        if(isChoose){
            //回退页面
            $.ajax({
                //几个参数需要注意一下
                type: "GET",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "getresult" ,//url
                data: {address_id: addressId},
                success: function (result) {
                    console.log(result);//打印服务端返回的数据(调试用)
                },
                error : function() {
                    alert("地址选择错误");
                }
            });

        }

    }

    function testApi()
    {
        if( confirm("你确认测试吗？") == false ){
            return;
        }
        var reqData = {type:'auto_exchange'}
        $.post("{:url('phone/apiwawa/index')}", {json: reqData}, function(ret){
            console.log(ret);
            var retObj = $.parseJSON(ret)
            if(retObj.code == 0){
                alert("成功！");
                //location.reload();

            }else{
                alert("异常！");
            }

        }, 'json');


    }

</script>

{/block}