{extend name="extra@phone/main"}

{block name="body"}

<style>
    .sp_pr
    {
        display: block;
        float: left;
        width: 47%;
        border: 1px solid white;
        margin: 4px;
        border-radius: 8px;
        padding: 0px;
        background: white;
    }
    .sp_pr img{
        width: 100%;
        height: 120px;
    }
    .jul{
        padding: 0 6px;
        border-radius: 8px;
        margin-top: 1.6em;
    }
    .text_p{
        margin-bottom: 5px;
        margin-left: 5px;
    }
    .sp img{
        height: 40px;
        width: 100%;
    }

    .product {
        margin-bottom: 40.571em;
    }
</style>

<!--banner-->
<div id="carousel-example-generic" class="carousel slide banner" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" data-href='{:url("phone/wallet/recharge")}' href="javascript:void(0)">
            <img style="width:100%" class="img-responsive big" src="__STATIC__/plugs/phone/images/banner61.png">
        </div>
        <div class="item" data-href='{:url("phone/wallet/recharge")}' href="javascript:void(0)">
            <img style="width:100%" class="img-responsive big" src="__STATIC__/plugs/phone/images/banner2.png">
        </div>
        <div class="item" data-href='{:url("phone/activity/index")}' href="javascript:void(0)">
            <img style="width:100%" class="img-responsive big" src="__STATIC__/plugs/phone/images/banner3.png">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--hot-->
<div class="hot" style="padding-bottom: 0px;">
    <div class="container">
        <div class="title" style="color: red; margin-bottom: 3px;margin-top: 3px;">
            <span class="glyphicon glyphicon-star" ></span>
            <span class="glyphicon glyphicon-star" ></span>
            <span class="glyphicon glyphicon-star" ></span>
            <h4>推荐</h4>
            <span class="glyphicon glyphicon-star" ></span>
            <span class="glyphicon glyphicon-star" ></span>
            <span class="glyphicon glyphicon-star" ></span>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <a class="sp" data-href='{:url("phone/rank/page")}?product_code=A-00001' href="javascript:void(0)">
                    <img src="__STATIC__/plugs/phone/act_images/list_bg.png">

                </a>
            </div>
            <div class="col-xs-4">
                <a  class="sp" data-href='{:url("phone/activity/page")}?product_code=H-00001' href="javascript:void(0)">
                    <img src="__STATIC__/plugs/phone/act_images/act1_pro.jpg">

                </a>
            </div>
            <div class="col-xs-4">
                <a  class="sp" data-href='{:url("phone/index/rule")}' href="javascript:void(0)">
                    <img src="__STATIC__/plugs/phone/images/banner1.png">
                </a>
            </div>

        </div>
    </div>
</div>

<!--商品分类-->

<div id="wrapper" class="nav_s hidden" >
    <div class="scroll">
        <a href="#" class="currer">娃娃机</a>
        <a href="#">商品</a>

    </div>
</div>


<div class="product" style="margin-top: 3px;">

    {foreach $list as $key=>$vo}
    <div class="sp_pr">
        {if $vo.status eq '0' || $vo.status eq '3'}
        <a href="#">
        {else}
        <a data-href='{:url("phone/index/device")}?room_id={$vo.room_id}&price={$vo.price}&gift_id={$vo.gift_id}' href="javascript:void(0)">
        {/if}


            {if $vo.room_pic eq ''}
            <img src="__STATIC__/plugs/proom/img/room_bg.png">
            {else}
            <img src="__STATIC__/{$vo.room_pic}">
            {/if}

            <div class="text_p">
                <p>{$vo.topic}</p>
                <span class="yue">价格<em class="em_s">{$vo.price}币/次</em>
                </span>
            </div>
            {if $vo.status eq 0 || $vo.status eq '3'}
            <div class="jul" style="background: red;color: white">{$vo.status_c}</div>
            {else}
            <div class="jul" style="background: green;color: white">{$vo.status_c}</div>
            {/if}

        </a>
        </a>
    </div>
    {/foreach}


</div>

{/block}

{block name="foot"}
{include file="extra@phone/foot"}
{/block}

{block name="script"}
<!-- Javascript toast files -->
<link rel="stylesheet" href="__STATIC__/plugs/proom/js/izitoast/iziToast.css?ver={:date('ymd')}">
<script src="__STATIC__/plugs/proom/js/izitoast/iziToastHandle.js?ver={:date('ymd')}" type="text/javascript"></script>

<script src="__STATIC__/plugs/phone/js/jquery.min.js?ver={:date('ymd')}" type="text/javascript"></script>
<script type="text/javascript" src="__STATIC__/plugs/phone/js/iscroll.js?ver={:date('ymd')}"></script>
<script src="__STATIC__/plugs/phone/js/bootstrap.min.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/index.js?ver={:date('ymd')}" type="text/javascript"></script>
<script>
    var g_type = 0;  //全局变量 互斥 0 1
    var g_pos = 0;   //消息序号
    var g_result_msg = ''   //成功结果消息数组
    var g_income_msg = ''   //收入消息数组
    var g_t1 = '';  //定时器

    $(function(){
        //选中 菜单点击事件
        $(".xz_main").click();

        var t_shu=$(".scroll a").width();
        var g_shu=$(".scroll a").length;
        var u_shu=g_shu*t_shu+g_shu*28+'px';
        $(".scroll").css({width:u_shu});
        var Scroll = new iScroll('wrapper',{hScrollbar:false, vScrollbar:false,hScroll:true,vScroll:false});

        require(['proom.toast'], function (iziToast) {

            toastShow = toastController(iziToast);
            g_type = 0;
            var reqData = {type:'user_notify', notify_type: g_type}
            $.post("{:url('phone/apiwawa/index')}", {json: reqData}, function(ret){
                console.log(ret);
                var retObj = $.parseJSON(ret)
                if(retObj.code == 0){
                    g_result_msg = retObj.data
                    g_t1 = window.setInterval(userNotify, 3000)

                }

            }, 'json');

            function userNotify(){

                if(g_pos >= g_result_msg.length){
                    window.clearInterval(g_t1)
                    return;
                }
                toastShow.toastCustom('topCenter', '', '好消息', g_result_msg[g_pos], '__STATIC__');
                g_pos = g_pos + 1;
            }

            //获取每天第一次登录赠送币
            g_type = 2;
            var reqData = {type:'user_notify', notify_type: g_type}
            $.post("{:url('phone/apiwawa/index')}", {json: reqData}, function(ret){
                console.log(ret);
                var retObj = $.parseJSON(ret)
                if(retObj.code == 0){
                    toastShow.toastCustom('center', '', '好消息', '每天首登 '+retObj.msg, '__STATIC__');
                }

            }, 'json');


        })



    })

</script>
{/block}