{extend name="extra@phone/main"}

{block name="header"}
<link rel="stylesheet" href="__STATIC__/plugs/phone/css/act_style.css?ver={:date('ymd')}" type="text/css" />
{/block}

{block name="body"}

<style>
    .sp_pr
    {
        display: block;
        float: left;
        width: 44%;
        border: 1px solid white;
        margin: 10px;
        border-radius: 8px;
        padding: 0px;
        background: white;
    }
    .sp_pr img{
        width: 100%;
        height: 200px;
    }
    .jul{
        padding: 0 6px;
        border-radius: 8px;
        margin-top: 0.9em;
    }
    .text_p{
        margin-bottom: 5px;
        margin-left: 5px;
    }
</style>

<!--top-->
<div class="top_c">
    <a data-href='{:url("phone/index/main")}' href="javascript:void(0)" class="iconfont icon-jiantou-copy-copy" ></a>
    <p class="titi">设备列表</p>
</div>

<!--头部-->
<div class="tou" style="text-align: center">
    <span style="float: left; width: 30%; color: #ff7d15">{$gift_name} </span>
    <span style="float: right; width: 30%; color: #ff7d15">{$price}币/次 </span>
</div>

<!--商品分类-->

<div id="wrapper" class="nav_s hidden">
    <div class="scroll">
        <a href="#" class="currer">娃娃机</a>
        <a href="#">商品</a>

    </div>
</div>

<div class="product">
    {foreach $list as $key=>$vo}
    {if $key%2 eq 0}
    <div class="sp_pr" style="float: left">
    {else}
    <div class="sp_pr" style="float: right">
    {/if}

        {if $vo.dev_status eq '0' || $vo.dev_status eq '3'}
        <a href="#">
        {else}
        <a data-href='{:url("phone/room/index")}?dev_room_id={$vo.dev_room_id}' href="javascript:void(0)">
        {/if}


            {if $vo.dev_pic eq ''}
            <img src="__STATIC__/plugs/proom/img/room_bg.png">
            {else}
            <img src="__STATIC__/{$vo.dev_pic}">
            {/if}

            <div class="text_p" style="margin-top: 10px">
                <p>{$vo.dev_room_id}</p>
            </div>
            {if $vo.dev_status eq 0 || $vo.dev_status eq '3'}
            <div class="jul" style="background: red;color: white">{$vo.status_c}</div>
            {else}
            <div class="jul" style="background: green;color: white">{$vo.status_c}</div>
            {/if}

        </a>
        </a>
    </div>
    {/foreach}

    </div>

</div>

{if $room_tag eq '1'}
<div class="rank_page" style="display: block">
{else}
<div class="rank_page hidden">
{/if}
<!-- 邀请总榜 -->
    <!-- 悬浮按钮 -->
    <div class="xuan_btn xuan_rules"><a href="#rules">规则</a></div>

    <div class="rank_page_banner">
        <img src="__STATIC__/plugs/phone/act_images/list_bg_s.png" width="100%"/>
    </div>
    <div class="rank_page_png">
        <img src="__STATIC__/plugs/phone/act_images/list_board_img.png" width="100%"/>
    </div>
    <div class="rank_page_main">
        <div class="rank_page_main_font">抓取排行榜<br>活动结束后，前三名可以获得丰富奖励</div>
        <div class="rank_page_now">
            您当前排名:<span>{$catch_user.pos}</span>, 距离前一名差<font>{$catch_user.czNum}</font>人
        </div>
        <div class="rank_page_three">
            {foreach $catch_list as $key=>$vo}
            {if $key eq 3}
            break;
            {/if}
            <div class="rank_page_lists">
                <div class="r_page_list_num r_page_num{$key+1}">{$key+1}</div>
                <div class="r_page_list_pic">
                    <img src="__STATIC__/plugs/phone/act_images/n_reward{$key+1}.png"/>
                    {if $key eq 0}
                    <span>300娃娃币</span>
                    {elseif $key eq 1}
                    <span>200娃娃币</span>
                    {elseif $key eq 2}
                    <span>100娃娃币</span>
                    {/if}

                </div>
                <div class="r_page_list_name">
                    <div class="r_duti_num speical_red">{$vo.tp_count}</div>
                    <div class="r_page_web_name">{$vo.name}</div>
                </div>
            </div>
            {/foreach}

        </div>
        <div class="r_page_table">
            <table cellspacing="0">
                <tr class="r_page_t1">
                    <td>排名</td>
                    <td>昵称</td>
                    <td>成功次数</td>
                </tr>
                <tr class="r_page_t1">
                    <td>{$catch_user.pos}</td>
                    <td>{$catch_user.name}</td>
                    <td>{$catch_user.curNum}</td>
                </tr>
                <tr class="r_false"></tr>
            </table>
        </div>
    </div>

    <!-- 活动规则 -->
    <div id="rules" class="rules">
        <img src="__STATIC__/plugs/phone/act_images/rules.png"/>
        <ul class="rules_ul">

            <li>规则：用户在获胜方球队的房间，抓取娃娃，抓到的娃娃不能兑换，只计入成功次数。</li>
            <li>世界杯球队比赛结果揭晓后， 总抓取成功次数前三名可以获得对应的金币奖励。</li>
            <li>条件：用户充值大于20元，抓中3个以上的娃娃，计入奖励名单</li>
            <li>奖励发放：比赛结束后3天内发放</li>
            <li class="rules_specil">特别说明:为保证活动的公平性，对于存在违规收徒行为的用户，平台将取消其参加活动的资格，并扣除所有奖励，请遵守平台规则，正常邀请收徒。本活动最终解释权归阿斗夹娃娃所有。</li>
        </ul>
    </div>

</div>
</div>


    <script src="__STATIC__/plugs/phone/js/jquery.min.js?ver={:date('ymd')}" type="text/javascript"></script>
    <script type="text/javascript" src="__STATIC__/plugs/phone/js/iscroll.js?ver={:date('ymd')}"></script>
    <script src="__STATIC__/plugs/phone/js/bootstrap.min.js?ver={:date('ymd')}" type="text/javascript"></script>
    <script src="__STATIC__/plugs/phone/js/index.js?ver={:date('ymd')}" type="text/javascript"></script>
    <script>
        $(function(){
            var t_shu=$(".scroll a").width();
            var g_shu=$(".scroll a").length;
            var u_shu=g_shu*t_shu+g_shu*28+'px';
            $(".scroll").css({width:u_shu});
            var Scroll = new iScroll('wrapper',{hScrollbar:false, vScrollbar:false,hScroll:true,vScroll:false});
        })

    </script>




{/block}