{extend name="extra@phone/main"}
{block name="header"}
<head>

    <link href="http://at.alicdn.com/t/font_l6a0fwucxvzehfr.css" rel="stylesheet" type="text/css" />

</head>
{/block}

{block name="body"}

<!--top-->
<div class="top_c">
	<a data-href='{:url("phone/personal/index")}' href="javascript:void(0)"  class="iconfont icon-jiantou-copy-copy"></a>
	<p class="titi">我抓的娃娃</p>
</div>

<!--列表-->

<div class="ding_d">
    {foreach $list as $key=>$vo}
	<div class="on_d">
    	<p class="bh">订单编号：{$vo.order_id}<span>{$vo.result_c}</span></p>
        <div class="sp_pr">
            <a href="details.html">
                <img src="__STATIC__/{$vo.gift_pic_show}">
                <div class="text_p">
                    <p>{$vo.gift_name}</p>
                    <span class="yue" style="margin-top:1.286em;">抓取时间：{$vo.create_at}</span>
                </div>
            </a>     
        </div>
    </div>
    {/foreach}
	
</div>






<script src="__STATIC__/plugs/phone/js/jquery.min.js" type="text/javascript"></script>

<script src="__STATIC__/plugs/phone/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/index.js" type="text/javascript"></script>




{/block}
