{extend name="extra@phone/main"}

{block name="body"}


<!--头部-->
<div class="zhang">
    <div class="container">
        <div class="xiao">
            <a href="#"><span class="iconfont icon-xiaoxi"><i></i></span></a>
            <a href="#"><span class="iconfont icon-iconfontshezhi"></span></a>
        </div>
        <div class="tou_x">
            <a href="information.html">
                <div class="iconfont icon-touxiang"></div>
                <div class="yong">
                    <p>华富锦大厦</p>
                    <span>手机号：15425586998</span>
                </div>
            </a>
        </div>
    </div>
</div>

<!--列表-->

<div class="ding">
    <div class="one">
        <div class="container">
            <a href="order.html">
                <p class="biao">全部订单<i class="iconfont icon-jiantou"></i></p>
            </a>
        </div>
    </div>
    <ul>
        <li>
            <a href="#">
                <span class="iconfont icon-qianbao-"><i>12</i></span>
                <p>待付款</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="iconfont icon-daifahuo1"><i>8</i></span>
                <p>待发货</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="iconfont icon-daishouhuo"></span>
                <p>待收货</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="iconfont icon-daipingjia1"></span>
                <p>待评价</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="iconfont icon-tuikuan"></span>
                <p>退款/售后</p>
            </a>
        </li>
    </ul>
</div>


<!--列表-->
<div class="lie_y">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <a data-href='{:url("phone/personal/gresult")}' href="javascript:void(0)">
                    <span class="iconfont icon-shoucang"></span>
                    <p class="lll">抓的娃娃</p>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="footprint.html">
                    <span class="iconfont icon-zuji1" style="color:#f9a900;"></span>
                    <p class="lll">抓取记录</p>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="recommend.html">
                    <span class="iconfont icon-tuijian" style="color:#bd45e5;"></span>
                    <p class="lll">推荐好友</p>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="address.html">
                    <span class="iconfont icon-shouhuodizhi" style="color:#72ad14;"></span>
                    <p class="lll">收货地址</p>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="capital.html">
                    <span class="iconfont icon-iconliushuizijin" style="color:#ec3535;"></span>
                    <p class="lll">资金流水</p>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="center.html">
                    <span class="iconfont icon-shangjia"></span>
                    <p class="lll">商家中心</p>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="__STATIC__/plugs/phone/js/jquery.min.js" type="text/javascript"></script>

<script src="__STATIC__/plugs/phone/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/index.js" type="text/javascript"></script>


{/block}