{extend name="extra@proom/main"}

{block name="body"}

<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Page Loader -->
<div class="page-loader" id="page-loader">
    <div><i class="ion ion-loading-d"></i><p>loading</p></div>
</div>

<!-- BEGIN OF site header Menu -->
<!-- Add "material" class for a material design style -->
<header class="header-top">

    <div class="menu clearfix">
        <a href="#">退出<i class="ion ion-reply-all"></i></a>

        <!-- Add other menu similar to "about" here -->
        <a href="#contact">contact</a>
    </div>
</header>
<!-- END OF site header Menu-->

<!-- BEGIN OF Quick nav icons at left -->
<nav class="quick-link count-4 nav-left">
    <div class="logo">
        <a href="#home">
            <img src="__STATIC__/plugs/proom/img/logo_only.png" alt="Logo Brand">
        </a>
    </div>
    <ul id="qmenu" class="qmenu">
        <li data-menuanchor="control">
            <a href="#control" class=""><i class="icon ion ion-game-controller-b"></i>
            </a>
            <span class="title">Control</span>
        </li>
        <li data-menuanchor="home">
            <a href="#home" class=""><i class="icon ion ion-home"></i>
            </a>
            <span class="title">Home page</span>
        </li>
        <li data-menuanchor="register">
            <a href="#register"><i class="icon ion ion-compose"></i>
            </a>
            <span class="title">Stay in touch</span>
        </li>
        <li data-menuanchor="about-us">
            <a href="#about-us"><i class="icon ion ion-android-information"></i>
            </a>
            <span class="title">About Us</span>
        </li>
        <!--<li data-menuanchor="contact">
            <a href="#contact"><i class="icon ion ion-android-call"></i>
            </a>
            <span class="title">Contact</span>
        </li>-->
        <li data-menuanchor="contact">
            <a href="#contact"><i class="icon ion ion-email"></i>
            </a>
            <span class="title">Contact</span>
        </li>
    </ul>
</nav>
<!-- END OF Quick nav icons at left -->



<!-- BEGIN OF site cover -->
<div class="page-cover" id="s-cover">
    <!-- Cover Background -->
    <div class="cover-bg pos-abs full-size bg-img" data-image-src="__STATIC__/plugs/proom/img/bg-default.jpg"></div>

    <!-- BEGIN OF Slideshow Background -->
    <!-- <div class="cover-bg pos-abs full-size slide-show">
        <i class='img' data-src='__STATIC__/plugs/proom/img/bg-slide1.jpg'></i>
        <i class='img' data-src='__STATIC__/plugs/proom/img/bg-slide2.jpg'></i>
        <i class='img' data-src='__STATIC__/plugs/proom/img/bg-slide3.jpg'></i>
        <i class='img' data-src='__STATIC__/plugs/proom/img/bg-slide4.jpg'></i>
    </div> -->
    <!-- END OF Slideshow Background -->
    <div id="test" class="cover-bg pos-abs full-size">
        <video id="remoteVideo" autoplay="autoplay"></video>
        <video id="localVideo" autoplay="autoplay" muted="muted" style="height: 100px; width: 100px"></video>

    </div>
    <!--BEGIN OF Static video bg  - uncomment below to use Video as Background-->
    <!--<div id="container" class="video-container show-for-medium-up">
        <video autoplay="autoplay" loop="loop" autobuffer="autobuffer" muted="muted"
               width="640" height="360">
            <source src="__STATIC__/plugs/proom/vid/flower_loop.mp4" type="video/mp4">
        </video>

    </div>-->
    <!--END OF Static video bg-->

    <!-- Solid color as background -->
    <!--            <div class="cover-bg pos-abs full-size bg-color" data-bgcolor="rgb(59, 59, 59)"></div>-->

    <!-- Solid color as filter -->
    <div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(0, 0, 0, 0.41)"></div>

</div>
<!--END OF site Cover -->

<!-- Begin of timer pane -->
<div class="pane-when " id="s-when">
    <div class="content">
        <!-- Clock -->
        <div class="clock clock-countdown">
            <div class="site-config"
                 data-date="10/30/2016 00:00:00"
                 data-date-timezone="+0"
                    ></div>
            <div id="m_sec" style="display: none" class="elem-center">
                <div class="digit">
                    <span class="days">30</span>
                    <span class="txt">sec</span>
                </div>
            </div>


            <div class="elem-bottom">
                <div class="deco"></div>

                <!--<span class="days">12</span><span class="thin">D</span>-->
                <span class="hours">18</span><span class="thin">H</span>
                <span class="minutes">45</span><span class="thin">M</span>
                <span class="seconds">36</span><span class="thin">S</span>
            </div>
        </div>


        <footer>

        </footer>
    </div>
</div>
<!-- End of timer pane -->

<!-- BEGIN OF site main content content here -->
<main class="page-main" id="mainpage">


    <!-- Begin of Control page   -->
    <div class="section page-contact page page-cent bg-color" data-bgcolor="rgba(95, 25, 208, 0.88)s" id="s-control">
        <!-- Begin of contact information -->
        <div class="slide" id="s-user" data-anchor="user">
            <section class="content">
                <header class="p-title">

                    <h3><i class="ion ion-social-reddit-outline">
                    </i>

                    </h3>
                    <ul class="buttons">
                        <li>
                            <a title="Contact" href="#control/none"><i class="ion ion-share"></i></a>
                        </li>
                    </ul>
                </header>
                <!-- Begin Of Page SubSction -->
                <div class="contact" style="margin-top:10px;">

                    <div class="contact" style="height: 60px">
                       <div id="m_coins" class="contact" style="text-align:center; ">

                           <a url={$control_url|default=''} data-coins='{"type":"publish","to":"abc"}' class="button button-glow button-rounded button-highlight">投币</a>
                       </div>
                       <div id="m_catch" class="contact" style="text-align:center; display: none">
                           <a url={$control_url|default=''} data-coins='{"type":"control","to":"g"}' class="button button-glow button-border button-rounded button-primary">
                               Go
                           </a>
                       </div>
                   </div>

                <div id="m_control" class="contact" style="text-align:center; display: none">

                    <div class="row" >
                        <button class="button button-large button-plain button-borderless" url={$control_url|default=''} data-down='{"type":"control","to":"u"}' data-up='{"type":"control","to":"ur"}'>
                            <img  id="top_1" src="__STATIC__/plugs/proom/img/m_up.png" alt="m_up">
                            <img  id="top_2" style="display: none;" src="__STATIC__/plugs/proom/img/m_up.png" alt="m_up">
                        </button>
                    </div>
                    <div class="row" >
                        <button style="margin-left:0px;" class="button button-large button-plain button-borderless" url={$control_url|default=''} data-down='{"type":"control","to":"l"}' data-up='{"type":"control","to":"lr"}'>
                            <img  id="left_1" src="__STATIC__/plugs/proom/img/m_left.png" alt="m_left">
                            <img  id="left_2" style="display: none;" src="__STATIC__/plugs/proom/img/m_left.png" alt="m_left">
                        </button>
                        <button style="margin-left:30px;" class="button button-large button-plain button-borderless" url={$control_url|default=''} data-down='{"type":"control","to":"r"}' data-up='{"type":"control","to":"rr"}'>
                            <img  id="right_1" src="__STATIC__/plugs/proom/img/m_right.png" alt="m_right">
                            <img  id="right_2" style="display: none; " src="__STATIC__/plugs/proom/img/m_right.png" alt="m_right">
                        </button>
                    </div>
                    <div class="row" >
                        <button class="button button-large button-plain button-borderless" url={$control_url|default=''} data-down='{"type":"control","to":"d"}' data-up='{"type":"control","to":"dr"}'>
                    <img  id="bottom_1" src="__STATIC__/plugs/proom/img/m_down.png" alt="m_down">
                    <img  id="bottom_2" style="display: none;" src="__STATIC__/plugs/proom/img/m_down.png" alt="m_down">
                    </button>
                    </div>

                </div>


                </div>
                <!-- End of page SubSection -->
            </section>

            <footer >

            </footer>

        </div>
        <!-- end of contact information -->

        <!-- begin of contact message -->
        <div class="slide" id="s-none" data-anchor="none">
            <section class="content">
                <header class="p-title">
                    <h3> <i class="ion ion-email">
                    </i>
                    </h3>
                    <ul class="buttons">
                        <li>
                            <a title="Contact" href="#control/none"><i class="ion ion-social-usd"></i></a>
                        </li>
                        <li>
                            <a title="Contact" href="#control/none"><i class="ion ion-location"></i></a>
                        </li>
                        <li>
                            <a title="Contact" href="#control/none"><i class="ion ion-share"></i></a>
                        </li>
                    </ul>
                </header>
                <!-- Begin Of Page SubSction -->

                <div class="page-block c-right v-zoomIn">

                </div>
                <!-- End Of Page SubSction -->
            </section>

        </div>
        <!-- End of contact message -->
    </div>
    <!-- End of Control page  -->


    <!-- Begin of home page -->

    <div class="section page-home page page-cent" id="s-home">

        <!-- Logo -->
        <!--<div class="logo-container">
            <img class="h-logo" src="img/logo_only.png" alt="Logo">
        </div>-->
        <!-- Content -->

        <section class="content">

            <header class="header">
                <div class="h-left">

                </div>
                <div class="h-right">

                </div>

            </header>
        </section>

    </div>
    <!-- End of home page -->


    <!-- Begin of register page -->
    <div class="section page-register page page-cent"  id="s-register">
        <section class="content">
            <header class="p-title">
                <h3>Register <i class="ion ion-compose"></i></h3>
                <button onclick="joinVideoRoom()">打开视频 <i class="ion ion-mouse"></i> </button>
                <button onclick="exitVideoRoom()">关闭视频 <i class="ion ion-mouse"></i> </button>
            </header>

        </section>
    </div>
    <!-- End of register page -->

    <!-- Begin of about us page -->
    <div class="section page-about page page-cent" id="s-about-us">
        <section class="content">
            <header class="p-title">
                <h3>About Us<i class="ion ion-android-information">
                </i>
                </h3>
                <h4 class="subhead">We <span class="bold">make</span> only <span class="bold">beautiful</span> things</h4>
            </header>

        </section>
    </div>
    <!-- End of about us page -->

    <!-- Begin of Contact page   -->
    <div class="section page-contact page page-cent  bg-color" data-bgcolor="rgba(95, 25, 208, 0.88)s" id="s-contact">
        <!-- Begin of contact information -->
        <div class="slide" id="s-information" data-anchor="information">
            <section class="content">
                <header class="p-title">
                    <h3>Contact<i class="ion ion-location">
                    </i>
                    </h3>
                    <ul class="buttons">
                        <li class="show-for-medium-up">
                            <a title="About" href="#about-us" ><i class="ion ion-android-information"></i></a>
                        </li>
                        <!--<li>
                            <a title="Contact" href="#contact/information"><i class="ion ion-location"></i></a>
                        </li>-->
                        <li>
                            <a title="Message" href="#contact/message"><i class="ion ion-email"></i></a>
                        </li>
                    </ul>
                </header>
                <!-- Begin Of Page SubSction -->
                <div class="contact">
                    <div class="row">

                    </div>
                </div>
                <!-- End of page SubSection -->
            </section>
        </div>
        <!-- end of contact information -->

        <!-- begin of contact message -->
        <div class="slide" id="s-message" data-anchor="message">
            <section class="content">
                <header class="p-title">
                    <h3>Write to us<i class="ion ion-email">
                    </i>
                    </h3>
                    <ul class="buttons">
                        <li class="show-for-medium-up">
                            <a title="About" href="#about-us"><i class="ion ion-android-information"></i></a>
                        </li>
                        <li>
                            <a title="Contact" href="#contact/information"><i class="ion ion-location"></i></a>
                        </li>
                    </ul>
                </header>
                <!-- Begin Of Page SubSction -->

                <div class="page-block c-right v-zoomIn">

                </div>
                <!-- End Of Page SubSction -->
            </section>

        </div>
        <!-- End of contact message -->
    </div>
    <!-- End of Contact page  -->



</main>

<!-- END OF site main content content here -->

<!-- Begin of site footer -->
<footer class="page-footer">
    <div>

    </div>
</footer>
<!-- End of site footer -->


<!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

<!-- All Javascript plugins goes here -->
<!--		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>-->

<!-- All vendor scripts -->


<!-- Detailed vendor scripts -->
<!--<script src="__STATIC__/plugs/proom/js/vendor/jquery.fullPage.min.js"></script>
<script src="__STATIC__/plugs/proom/js/vendor/jquery.slimscroll.min.js"></script>
<script src="__STATIC__/plugs/proom/js/vendor/jquery.knob.min.js"></script>
<script src="__STATIC__/plugs/proom/js/vegas/vegas.min.js"></script>
<script src="__STATIC__/plugs/proom/js/jquery.maximage.js"></script>
<script src="__STATIC__/plugs/proom/js/okvideo.min.js"></script>-->

<!-- Downcount JS -->
<script src="__STATIC__/plugs/proom/js/jquery.downCount.js?ver={:date('ymd')}"></script>

<!-- Form script -->
<script src="__STATIC__/plugs/proom/js/form_script.js?ver={:date('ymd')}"></script>

<!-- Javascript main files -->
<script src="__STATIC__/plugs/proom/js/main.js?ver={:date('ymd')}"></script>



{/block}

{block name="script"}
<!-- Javascript video controller files -->
<script src="__STATIC__/plugs/proom/js/wv_controller.js?ver={:date('ymd')}"></script>
<script>
    var Controller = null;
    var roomName;
    var serverUrl;
    var serverPort;
    var qvgaConstraints  = {
        audio: true,
        video: false,
        video: {
            mandatory: {
                maxWidth: 352,
                maxHeight: 288,
                maxFrameRate: 35
            }
        }
    };
    var onErrorFun = function(errorCode, errorStr){

        console.log("error reason:", errorStr);
        if (errorCode != 0){
            if (Controller != null){
                Controller.ExitRoom();
                Controller = null;
            }

        }

    };

    var joinVideoRoom = function(){
        //start
        var videoList = [];
        var localPara = {};
        var remotePara = {};

        localPara.isLocal = true;
        localPara.view = "localVideo";

        videoList.push(localPara);

        remotePara.isLocal = false;
        remotePara.view = "remoteVideo";
        videoList.push(remotePara);

        if (Controller != null){
            return;
        }
        Controller = videoController(qvgaConstraints);
        Controller.VideoInit(videoList, function(onStatus, param){

            switch (onStatus){
                case "InitReady":
                    console.log("InitReady");
                    var roomName = 'wawa';
                    var serverUrl = 'hqscs.com';
                    var serverPort = '3004';
                    var userType = '2';
                    var userid = '001';
                    var client_type = '1';
                    var extramsg = {"userType":userType, "userId":userid, "client_type":client_type};
                    console.log("extramsg: ", extramsg);

                    Controller.JoinRoom(roomName, JSON.stringify(extramsg), serverUrl, serverPort, serverUrl, "3478", onErrorFun);

                    break;

                case"JoinRoom":
                    console.log("JoinRoom");

                    break;

                case"PeerConnected":
                    console.log("PeerConnected");

                    break;

                case"PeerMuteVideo":
                    var isMute = param;
                    console.log("PeerMuteVedio", isMute);
                    break;

                case"MuteVideo":
                    var isMute = param;
                    console.log("MuteVedio", isMute);
                    break;

                case"ExitRoom":
                    console.log("ExitRoom");
                    break;
            }

        });

    };

    var exitVideoRoom = function(){
        if (Controller == null){
            return;
        }
        Controller.ExitRoom();
        Controller = null;

    };



    /////////////////////////////


</script>

{/block}