{extend name="extra@proom/main"}

{block name="header"}



{/block}

{block name="body"}


<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Page Loader -->
<div class="page-loader" id="page-loader">
    <div><i class="ion ion-loading-d"></i><p>loading</p></div>
</div>

<!-- BEGIN OF site header Menu -->
<!-- Add "material" class for a material design style -->
<header class="header-top">

    <div class="menu clearfix">
        <a id="exit_room" onclick="chat_send('exit_room')" data-href='{:url("phone/index/main")}' href="javascript:void(0)">退出<i class="ion ion-reply-all"></i></a>

        <!-- Add other menu similar to "about" here -->
        <a href="#contact">contact</a>
    </div>
</header>
<!-- END OF site header Menu-->

<!-- BEGIN OF Quick nav icons at left -->
<nav class="quick-link count-4 nav-left">
    <div class="logo">
        <a href="#home">
            <img src="__STATIC__/plugs/proom/img/logo_only.png" alt="Logo Brand">
        </a>
    </div>
    <ul  class="quser">
        <li data-menuanchor="">
            <a href="#" class=""><i class="icon ion ion-more"></i>
            </a>
            <span class="title">more</span>
        </li>
    </ul>

    <ul id="qmenu" class="qmenu">

        <li data-menuanchor="control">
            <a href="#control" class=""><i class="icon ion ion-game-controller-b"></i>
            </a>
            <span class="title">Control</span>
        </li>
        <li data-menuanchor="home">
            <a href="#home" class=""><i class="icon ion ion-home"></i>
            </a>
            <span class="title">Home page</span>
        </li>
        <li data-menuanchor="register">
            <a href="#register"><i class="icon ion ion-compose"></i>
            </a>
            <span class="title">Stay in touch</span>
        </li>
        <li data-menuanchor="about-us">
            <a href="#about-us"><i class="icon ion ion-android-information"></i>
            </a>
            <span class="title">About Us</span>
        </li>
        <!--<li data-menuanchor="contact">
            <a href="#contact"><i class="icon ion ion-android-call"></i>
            </a>
            <span class="title">Contact</span>
        </li>-->
        <li data-menuanchor="contact">
            <a href="#contact"><i class="icon ion ion-email"></i>
            </a>
            <span class="title">Contact</span>
        </li>
    </ul>
</nav>
<!-- END OF Quick nav icons at left -->



<!-- BEGIN OF site cover -->
<div class="page-cover" id="s-cover">
    <!-- Cover Background -->
    <div class="cover-bg pos-abs full-size bg-img" data-image-src="__STATIC__/plugs/proom/img/bg-default.jpg"></div>

    <!-- BEGIN OF Slideshow Background -->
    <!-- <div class="cover-bg pos-abs full-size slide-show">
        <i class='img' data-src='__STATIC__/plugs/proom/img/bg-slide1.jpg'></i>
        <i class='img' data-src='__STATIC__/plugs/proom/img/bg-slide2.jpg'></i>
        <i class='img' data-src='__STATIC__/plugs/proom/img/bg-slide3.jpg'></i>
        <i class='img' data-src='__STATIC__/plugs/proom/img/bg-slide4.jpg'></i>
    </div> -->
    <!-- END OF Slideshow Background -->
    <div id="test" class="cover-bg pos-abs full-size">
        <video id="remoteVideo" autoplay="autoplay"></video>
        <video id="localVideo" autoplay="autoplay" muted="muted" style="height: 100px; width: 100px"></video>

    </div>
    <!--BEGIN OF Static video bg  - uncomment below to use Video as Background-->
    <!--<div id="container" class="video-container show-for-medium-up">
        <video autoplay="autoplay" loop="loop" autobuffer="autobuffer" muted="muted"
               width="640" height="360">
            <source src="__STATIC__/plugs/proom/vid/flower_loop.mp4" type="video/mp4">
        </video>

    </div>-->
    <!--END OF Static video bg-->

    <!-- Solid color as background -->
    <!--            <div class="cover-bg pos-abs full-size bg-color" data-bgcolor="rgb(59, 59, 59)"></div>-->

    <!-- Solid color as filter -->
    <div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(0, 0, 0, 0.41)"></div>

</div>
<!--END OF site Cover -->

<!-- Begin of timer pane -->
<div class="pane-when " id="s-when">
    <div class="content">
        <!-- Clock -->
        <div class="clock clock-countdown hidden" id="m_sec" >
            <div class="site-config"
                 data-date="10/30/2016 00:00:00"
                 data-date-timezone="+0"
                    ></div>
            <div  class="elem-center">
                <div class="digit">
                    <span class="days">30</span>
                    <span class="txt">sec</span>
                </div>
            </div>


            <div class="elem-bottom">
                <div class="deco"></div>

                <!--<span class="days">12</span><span class="thin">D</span>-->
                <span class="hours">18</span><span class="thin">H</span>
                <span class="minutes">45</span><span class="thin">M</span>
                <span class="seconds">36</span><span class="thin">S</span>
            </div>
        </div>


        <footer>

        </footer>
    </div>
</div>
<!-- End of timer pane -->

<!-- BEGIN OF site main content content here -->
<main class="page-main" id="mainpage">


    <!-- Begin of Control page   -->
    <div class="section page-contact page page-cent bg-color" data-bgcolor="rgba(95, 25, 208, 0.88)s" id="s-control">
        <!-- Begin of contact information -->
            <section class="content">
                <header class="p-title">

                    <h3><i class="ion ion-social-reddit-outline">{$coin}</i>
                        <a ><i class="ion ion-happy">{$free_coin}</i></a>
                    </h3>

                    <ul class="buttons">
                        <li>
                            <a title="Contact" href="#"><i class="ion ion-social-usd-outline"></i></a>
                        </li>
                        <li>
                            <a title="Contact" href="#"><i class="ion ion-share"></i></a>
                        </li>
                    </ul>
                </header>
                <!-- Begin Of Page SubSction -->
                <div class="contact" style="margin-top:10px;">

                    <div class="contact" style="height: 60px">
                       <div id="m_coins" class="contact" style="text-align:center; ">
                           <a url={$control_url|default=''} data-coins='{"type":"publish","room_id":{$room_id},"user_id":{$user_id}, "price":{$price}, "to":"abc"}' class="button button-glow button-rounded button-highlight">投币<br>({$price}个)</a>
                       </div>
                        <div id="m_coins_none" class="contact hidden" style="text-align:center;">
                            <a class="button disabled button-glow button-rounded button-highlight">请等待<br>({$price}个)</a>
                        </div>
                       <div id="m_catch" class="contact hidden" style="text-align:center;">
                           <a url={$control_url|default=''} data-coins='{"type":"control","to":"g"}' class="button button-glow button-border button-rounded button-primary">
                               Go
                           </a>
                       </div>
                   </div>

                <div id="m_control" class="contact hidden" style="text-align:center;">

                    <div class="row" >
                        <button class="button button-large button-plain button-borderless" url={$control_url|default=''} data-down='{"type":"control","to":"u"}' data-up='{"type":"control","to":"ur"}'>
                            <img  id="top_1" src="__STATIC__/plugs/proom/img/m_up.png" alt="m_up">
                            <img  id="top_2" style="display: none;" src="__STATIC__/plugs/proom/img/m_up.png" alt="m_up">
                        </button>
                    </div>
                    <div class="row" >
                        <button style="margin-left:0px;" class="button button-large button-plain button-borderless" url={$control_url|default=''} data-down='{"type":"control","to":"l"}' data-up='{"type":"control","to":"lr"}'>
                            <img  id="left_1" src="__STATIC__/plugs/proom/img/m_left.png" alt="m_left">
                            <img  id="left_2" style="display: none;" src="__STATIC__/plugs/proom/img/m_left.png" alt="m_left">
                        </button>
                        <button style="margin-left:30px;" class="button button-large button-plain button-borderless" url={$control_url|default=''} data-down='{"type":"control","to":"r"}' data-up='{"type":"control","to":"rr"}'>
                            <img  id="right_1" src="__STATIC__/plugs/proom/img/m_right.png" alt="m_right">
                            <img  id="right_2" style="display: none; " src="__STATIC__/plugs/proom/img/m_right.png" alt="m_right">
                        </button>
                    </div>
                    <div class="row" >
                        <button class="button button-large button-plain button-borderless" url={$control_url|default=''} data-down='{"type":"control","to":"d"}' data-up='{"type":"control","to":"dr"}'>
                    <img  id="bottom_1" src="__STATIC__/plugs/proom/img/m_down.png" alt="m_down">
                    <img  id="bottom_2" style="display: none;" src="__STATIC__/plugs/proom/img/m_down.png" alt="m_down">
                    </button>
                    </div>

                </div>


                </div>
                <!-- End of page SubSection -->
            </section>

        <!-- end of contact information -->


    </div>
    <!-- End of Control page  -->


    <!-- Begin of home page -->

    <div class="section page-home page page-cent" id="s-home">

        <!-- Logo -->
        <!--<div class="logo-container">
            <img class="h-logo" src="img/logo_only.png" alt="Logo">
        </div>-->
        <!-- Content -->
        <section class="content">
            <header class="p-title">

            </header>

            <div class="contact" style="margin-top:10px;">
                <ul class="chat_msg">
                    <li>
                        <span >18</span>
                    </li>

                </ul>


            </div>

        </section>

    </div>
    <!-- End of home page -->


    <!-- Begin of register page -->
    <div class="section page-register page page-cent"  id="s-register">
        <section class="content">
            <header class="p-title">
                <h3>Register <i class="ion ion-compose"></i></h3>
                <button onclick="joinVideoRoom()">打开视频 <i class="ion ion-mouse"></i> </button>
                <button onclick="exitVideoRoom()">关闭视频 <i class="ion ion-mouse"></i> </button>
            </header>


        </section>
    </div>
    <!-- End of register page -->

    <!-- Begin of about us page -->
    <div class="section page-about page page-cent" id="s-about-us">
        <section class="content">
            <header class="p-title">
                <h3>About Us<i class="ion ion-android-information">
                </i>
                </h3>
                <h4 class="subhead">We <span class="bold">make</span> only <span class="bold">beautiful</span> things</h4>
            </header>

        </section>
    </div>
    <!-- End of about us page -->

    <!-- Begin of Contact page   -->
    <div class="section page-contact page page-cent  bg-color test_show" data-bgcolor="rgba(95, 25, 208, 0.88)s" id="s-contact">
        <!-- Begin of contact information -->
        <div class="slide" id="s-information" data-anchor="information">
            <section class="content">
                <header class="p-title">
                    <h3>发言<i class="ion ion-location">
                    </i>
                    </h3>
                    <ul class="buttons">
                        <li class="show-for-medium-up">
                            <a title="About" href="#about-us" ><i class="ion ion-android-information"></i></a>
                        </li>
                        <li>
                            <a title="Message" href="#contact/message"><i class="ion ion-email"></i></a>
                        </li>

                    </ul>
                </header>
                <!-- Begin Of Page SubSction -->
                <div class="contact">
                    <div class="row">
                            <form id="mail-subscription" class="form message magic send_message_form" method="post" action="{:url('phone/apiwawa/index')}">

                                <div class="fields clearfix">
                                    <div class="input">
                                        <label for="content">说 </label>
                                        <input id="content" class="email_f"  name="content"  required placeholder="message" ></div>
                                    <div class="buttons">
                                        <button id="submit-msg" class="button email_b" name="submit_msg">Ok</button>
                                    </div>
                                </div>
                            </form>
                        <button class="button"   onclick="testFun()">111</button>
                    </div>
                </div>
                <!-- End of page SubSection -->
            </section>
        </div>
        <!-- end of contact information -->

        <!-- begin of contact message -->
        <div class="slide" id="s-message" data-anchor="message">
            <section class="content">
                <header class="p-title">
                    <h3>Write to us<i class="ion ion-email">
                    </i>
                    </h3>
                    <ul class="buttons">
                        <li class="show-for-medium-up">
                            <a title="About" href="#about-us"><i class="ion ion-android-information"></i></a>
                        </li>
                        <li>
                            <a title="Contact" href="#contact/information"><i class="ion ion-location"></i></a>
                        </li>
                    </ul>
                </header>
                <!-- Begin Of Page SubSction -->

                <div class="page-block c-right v-zoomIn">

                </div>
                <!-- End Of Page SubSction -->
            </section>

        </div>
        <!-- End of contact message -->
    </div>
    <!-- End of Contact page  -->

</main>

<!-- END OF site main content content here -->

<!-- Begin of site footer -->
<footer class="page-footer">
    <div>

    </div>
</footer>
<!-- End of site footer -->


<!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

<!-- All Javascript plugins goes here -->
<!--		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>-->

<!-- All vendor scripts -->


<!-- Detailed vendor scripts -->
<!--<script src="__STATIC__/plugs/proom/js/vendor/jquery.fullPage.min.js"></script>
<script src="__STATIC__/plugs/proom/js/vendor/jquery.slimscroll.min.js"></script>
<script src="__STATIC__/plugs/proom/js/vendor/jquery.knob.min.js"></script>
<script src="__STATIC__/plugs/proom/js/vegas/vegas.min.js"></script>
<script src="__STATIC__/plugs/proom/js/jquery.maximage.js"></script>
<script src="__STATIC__/plugs/proom/js/okvideo.min.js"></script>-->

<!-- Javascript toast files -->
<link rel="stylesheet" href="__STATIC__/plugs/proom/js/izitoast/iziToast.css?ver={:date('ymd')}">
<!-- <script src="__STATIC__/plugs/proom/js/izitoast/iziToastHandle.js?ver={:date('ymd')}"></script>  -->

<!-- Javascript barrager files -->
<link rel="stylesheet" href="__STATIC__/plugs/proom/js/izibarrager/barrager.css?ver={:date('ymd')}">
<script src="__STATIC__/plugs/proom/js/izibarrager/jquery.barrager.js?ver={:date('ymd')}"></script>

<!-- Downcount JS -->
<script src="__STATIC__/plugs/proom/js/jquery.downCount.js?ver={:date('ymd')}"></script>

<!-- Form script -->
<script src="__STATIC__/plugs/proom/js/form_script.js?ver={:date('ymd')}"></script>

<!-- Javascript main files -->
<script src="__STATIC__/plugs/proom/js/main.js?ver={:date('ymd')}"></script>


{/block}

{block name="script"}

<!-- Javascript video controller files -->
<script src="__STATIC__/plugs/proom/js/wv_controller.js?ver={:date('ymd')}"></script>
<script>

    //房间视频服务全局变量
    var Controller = null;
    var roomName;
    var serverUrl;
    var serverPort;
    var qvgaConstraints  = {
        audio: true,
        video: false,
        video: {
            mandatory: {
                maxWidth: 352,
                maxHeight: 288,
                maxFrameRate: 35
            }
        }
    };

    //房间信息全局变量
    var b_roomInfo = null;   //房间信息对象
    var b_memberList = null;  //房间成员列表 top5
    var b_giftInfo = null;  //房间商品信息
    var b_giftShow = null;  //房间商品展示图，作为房间背景图片
    var b_curMember = null;  //房间当前用户信息
    var b_maxShowMember = 3;  //top 成员最大个数

    //房间长连接全局变量
    var ws_chat=null, name, client_list={};

    var chat_send, testFun;

    require(['proom.toast', 'proom.barrager'], function (iziToast) {
    $(function(){

        var reqData = {type:'room_servers'}
        $.ajax("{:url('phone/apiwawa/index')}", {
            dataType: 'json', method: 'post', data: {json: reqData},
            success: function (ret) {
                console.log("servers:", ret);
                var retObj = $.parseJSON(ret)
                console.log("servers: code= ", retObj.code);
                if(retObj.code == 0){
                    //返回房间服务器信息
                    var retData = retObj.data
                    chatStart(retData.wa_chat_url, retData.wa_chat_port)
                }
            }
        });


    });


    var chatStart = function(serverUrl, serverPort){
        var chatServer = "ws://" + serverUrl + ":" + serverPort;
        ws_chat = new WebSocket(chatServer);
        // 服务端主动推送消息时会触发这里的onmessage

        // 当socket连接打开
        //ws_chat.onopen = onopen;

        ws_chat.onmessage = chat_onmessage;

        ws_chat.onclose = function() {
            console.log("连接关闭");

        };
        ws_chat.onerror = function() {
            console.log("出现错误");
        };


    }

        chat_send = function(msgType){
        console.log("chat_send: msg type= ", msgType);
        if(null == ws_chat){
            console.log("chat_send: ws_chat is null");
            return;
        }
        switch (msgType){
            case 'exit_room':
                var reqData = {type:'exit_room'}
                $.post("{:url('phone/apiwawa/index')}", {json: reqData}, function(ret){
                    console.log(ret);

                }, 'json');

                $('#exit_room').attr('data-href' , '{:url("phone/index/main")}')
                $('#exit_room').attr('href' , 'javascript:void(0)')
                //data-href='{:url("phone/index/main")}' href="javascript:void(0)"
                break;
            default :
                break;
        }

    }

    //聊天室消息处理函数
    function chat_onmessage(e) {
        // json数据转换成js对象
        var data = eval("("+e.data+")");
        var type = data.type || '';
        switch(type){
            // Events.php中返回的init类型的消息，将client_id发给后台进行uid绑定
            case 'init':
                // 利用jquery发起ajax请求，将client_id发给后端进行uid绑定
                console.log("init: client_id= ", data.client_id);

                var reqData = {type:'chat_bind', client_id: data.client_id}
                $.post("{:url('phone/apiwawa/index')}", {json: reqData}, function(ret){
                    console.log(ret);
                    var retObj = $.parseJSON(ret)
                    //返回房间信息， 房间top 成员列表
                    if(retObj.code == 0){
                        //返回房间服务器信息
                        var retData = retObj.data
                        initRoomInfo(retData)
                    }

                }, 'json');
                break;
            case 'chat_msg':
                //显示信息在页面控件
                var chatData = data.para;
                var pic = chatData.pic;
                var name = chatData.name;
                var chatMsg =  name + ':' + data.content;
                var msgList = chatMsgShow( chatMsg, pic );

                var notifyType = chatData.notify_type;
                if(notifyType == 'dev_notify_result'){
                    //收到抓取结果 投币按钮
                    showCoinsPage();

                    //清除游戏用户头像
                    updateMemberPic('game_down', '', '');

                }else if(notifyType == 'join_room'){
                   var tmpMember = chatData.move_member;

                    //刷新用户列表
                    updateMembersShow(b_memberList, b_curMember, tmpMember, 'join_room')
                }else if(notifyType == 'exit_room'){
                    var tmpMember = chatData.move_member;

                    //刷新用户列表
                    updateMembersShow(b_memberList, b_curMember, tmpMember, 'exit_room')
                }

                break;
            case 'notify_msg':
                var notifyMsg = data.content;
                var notifyData = data.para;
                var notifyType = notifyData.notify_type;
                var notifyCode = notifyData.code;

                handleNotifyMsg(notifyType, notifyCode, notifyMsg, notifyData);

                break;
            case 'join_room':
                //在chat_msg 中处理
                break;
            case 'exit_room':
                    //在chat_msg 中处理
                break;
            case 'ping':
                //忽略心跳消息
                break;

            // 当mvc框架调用GatewayClient发消息时直接alert出来
            default :
                alert(e.data);
        }

    }

    //处理 notify_msg 消息 页面控件处理
    var handleNotifyMsg= function(notifyType, notifyCode, notifyMsg, notifyData){
        console.log('type:'+ notifyType + ' code:' + notifyCode + ' msg:' + notifyMsg);

        switch (notifyType){
            case 'dev_user_auth':
                if(notifyCode != 0){
                    //投币失败
                    toastInfo('topCenter', '投币失败', notifyMsg);
                    showCoinsPage();
                    break;
                }
                break;
            case 'insert_coins_frozen':
                    //用户认证中 认证成功 投币按钮失效 所有用户
                if(notifyCode != 0){
                    //投币失败
                    //toastInfo('topCenter', '投币失败', notifyMsg);
                    showCoinsPage();
                    break;
                }
                    showWaitPage();

                    //显示游戏用户头像
                    updateMemberPic('game_up', notifyData.name, notifyData.pic);
                break;
            case 'dev_notify_coins':
                    //投币成功 显示控制按钮  当前用户
                    if(notifyCode != 0){
                        //投币失败
                        toastInfo('topCenter', '投币失败', notifyMsg);
                        showCoinsPage();
                        break;
                    }
                    showControlPage();

                    //显示游戏用户头像
                    updateMemberPic('game_up', notifyData.name, notifyData.pic);

                break;
            case 'dev_notify_result':
                    //收到抓取结果 投币按钮
                showCoinsPage();
                toastInfo('center', '抓取结果', notifyMsg);

                    //清除游戏用户头像
                    updateMemberPic('game_down', '', '');
                break;
            default :
                break;
        }


    }

        var showCoinsPage = function(){
            $('#m_coins').removeClass('hidden');

            $('#m_coins_none').addClass('hidden');
            $('#m_catch').addClass('hidden');
            $('#m_control').addClass('hidden');
            $('#m_sec').addClass('hidden');


        }
        var showControlPage = function(){
            $('#m_sec').removeClass('hidden');
            $('#m_catch').removeClass('hidden');
            $('#m_control').removeClass('hidden');

            $('#m_coins_none').addClass('hidden');
            $('#m_coins').addClass('hidden');
        }
        var showWaitPage = function(){
            $('#m_coins_none').removeClass('hidden');

            $('#m_coins').addClass('hidden');
            $('#m_catch').addClass('hidden');
            $('#m_control').addClass('hidden');
            $('#m_sec').addClass('hidden');

        }

    //初始化房间服务器信息
    var initRoomServers = function( retData ){

    }

    //初始化房间信息变量
    var initRoomInfo = function( retData ){
        b_roomInfo = retData.room_info
        b_giftShow = retData.gift_show
        b_memberList = retData.member_list
        b_curMember = retData.cur_member

        console.log('b_roomInfo:')
        console.log(b_roomInfo)
        console.log('b_memberList:')
        console.log(b_memberList)
        console.log('b_giftShow:')
        console.log(b_giftShow)
        console.log('b_curMember:')
        console.log(b_curMember)

        onRunBarrager(1, '', '欢迎加入房间');

        //根据房间状态 控制按钮显示
        if(b_roomInfo.status != 1){
            //不在空闲状态
            showWaitPage();
        }

        //刷新用户列表
        updateMembersShow(b_memberList, b_curMember, '', '')
    }

        //设置 或清除游戏用户头像
    var updateMemberPic = function(type, userName, userPic){

        //更新头像
        if('game_up' == type){
            var imgSrc = userPic;

        }else{
            imgSrc = '__STATIC__/plugs/proom/img/logo_only.png';
        }

        var m_span = '<span class="title">' + userName + '</span>';
        var m_img = '<img src=' + imgSrc + '>';
        var m_a = '<a >' + m_img + '</a>';

        var showGamePic = m_a + m_span;

        $('.logo').html(showGamePic);
    }

    //更新房间成员列表top5
    var updateMembersShow = function( memberList, curUser, movUser, type){

        var showMembers = '';
        var index = 0;

        if( null == memberList &&  '' == memberList ){
            return;
        }

        if(movUser){
            //新加入房间用户 将此用户放在第一位
            if( 'join_room' == type ){
                memberList[movUser.user_id] = movUser;

            }

        }

        for(var userId in memberList){
            if(index >= b_maxShowMember){
                break;
            }

            var u_info = memberList[userId];
            var u_name = u_info.name;
            var u_pic = u_info.pic
            var u_status = u_info.user_status;
            if(u_pic.length <=0 ){
                u_pic = '__STATIC__/' + b_roomInfo.room_pic;
            }

            if(movUser){
                //退出房间用户 将此用户删除
               if( 'exit_room' == type ){
                    var movUserId = movUser.user_id;
                    if(userId == movUserId){
                        delete memberList[userId]
                        continue;
                    }

                }
                //
            }

            var m_span = '<span class="title">' + u_name + '</span>';
            var m_img = '<img src=' + u_pic + '>';
            var m_a = '<a >' + m_img + '</a>';
            var m_li = '<li data-menuanchor="">' + m_a + m_span + '</li>';

            showMembers = showMembers + m_li;
            index = index + 1;

        }

        $('.quser').html(showMembers);
    }

    //消息弹幕显示
    var chatMsgShow = function(msg, pic){

        onRunBarrager(0, pic, msg);

        var m_span = '<span >' + msg + '</span>';
        var m_li = '<li>' + m_span + '</li>';
        var showMsg = m_li;

        $('.chat_msg').append(showMsg);
        return showMsg;
    }


    var controlStart = function(serverUrl, serverPort){

    }
    var videoStart = function(serverUrl, serverPort){

    }

    /////////
    iziToast.settings({
        timeout: 3000,
        // position: 'center',
        // imageWidth: 50,
        pauseOnHover: true,
        // resetOnHover: true,
        close: true,
        progressBar: true
        // layout: 1,
        // balloon: true,
        // target: '.target',
        // icon: 'material-icons',
        // iconText: 'face',
        // animateInside: false,
        // transitionIn: 'flipInX',
        // transitionOut: 'flipOutX',
    });
        var toastInfo = function(position, title, msg){
            iziToast.info({
                title: title,
                message: msg,
                // imageWidth: 70,
                position: position, //'topCenter',
                //position: 'bottomLeft',
                transitionIn: 'bounceInRight',
                // rtl: true,
                //iconText: 'star',
                onOpen: function(){
                    console.log('callback abriu! info');
                },
                onClose: function(){
                    console.log("callback fechou! info");
                }
            });
        }

        var toastCustom2 = function(position, pic, title, msg){

            if( pic.length <= 0){
                pic = '__STATIC__/' + b_roomInfo.room_pic;
            }
            iziToast.show({
                class: 'test',
                color: 'dark',
                icon: 'icon-contacts',
                title: title,
                message: msg,
                position: position, //'topCenter',
                transitionIn: 'flipInX',
                transitionOut: 'flipOutX',
                progressBarColor: 'rgb(0, 255, 184)',
                image: pic,
                imageWidth: 70,
                layout:2,
                onClose: function(){
                    console.info('onClose');
                },
                iconColor: 'rgb(0, 255, 184)'
            });
        }

        var onRunBarrager = function(posType, pic, msg){
            // 提交弹幕
            var pos = 300;   //固定距离底部高度300px

            if( pic.length <= 0){
                pic = '__STATIC__/' + b_roomInfo.room_pic;
            }
            var item={
                img: pic, //图片
                info: msg, //文字
                href:'', //链接
                close:true, //显示关闭按钮
                speed:6, //延迟,单位秒,默认6
                //bottom:300, //距离底部高度,单位px,默认随机
                color:'#fff', //颜色,默认白色
                old_ie_color:'#000000' //ie低版兼容色,不能与网页背景相同,默认黑色
            }
            if(posType){
                item.bottom = pos;
            }
            $('body').barrager(item);

        }

        testFun = function (){

            var item={
                img:'__STATIC__/plugs/proom/img/wawa/test1.jpg', //图片
                info:'弹幕文字信息', //文字
                href:'', //链接
                close:true, //显示关闭按钮
                speed:6, //延迟,单位秒,默认6
                //bottom:200, //距离底部高度,单位px,默认随机
                color:'#fff', //颜色,默认白色
                old_ie_color:'#000000' //ie低版兼容色,不能与网页背景相同,默认黑色
            }

            $('body').barrager(item);

            toastInfo('center', 'test title', 'test msg');
            toastCustom2('topCenter', '', 'test title', 'test custom msg');


        }
        /////////


    }); //require(['proom.toast', 'proom.barrager'], function (iziToast) {



    ////////////////////////////////////////////////////////////////////////////////////////////////
    var onErrorFun = function(errorCode, errorStr){

        console.log("error reason:", errorStr);
        if (errorCode != 0){
            if (Controller != null){
                Controller.ExitRoom();
                Controller = null;
            }

        }

    };

    var joinVideoRoom = function(){
        //start
        var videoList = [];
        var localPara = {};
        var remotePara = {};

        localPara.isLocal = true;
        localPara.view = "localVideo";

        videoList.push(localPara);

        remotePara.isLocal = false;
        remotePara.view = "remoteVideo";
        videoList.push(remotePara);

        if (Controller != null){
            return;
        }
        Controller = videoController(qvgaConstraints);
        Controller.VideoInit(videoList, function(onStatus, param){

            switch (onStatus){
                case "InitReady":
                    console.log("InitReady");
                    var roomName = 'wawa';
                    var serverUrl = 'hqscs.com';
                    var serverPort = '3004';
                    var userType = '2';
                    var userid = '001';
                    var client_type = '1';
                    var extramsg = {"userType":userType, "userId":userid, "client_type":client_type};
                    console.log("extramsg: ", extramsg);

                    Controller.JoinRoom(roomName, JSON.stringify(extramsg), serverUrl, serverPort, serverUrl, "3478", onErrorFun);

                    break;

                case"JoinRoom":
                    console.log("JoinRoom");

                    break;

                case"PeerConnected":
                    console.log("PeerConnected");

                    break;

                case"PeerMuteVideo":
                    var isMute = param;
                    console.log("PeerMuteVedio", isMute);
                    break;

                case"MuteVideo":
                    var isMute = param;
                    console.log("MuteVedio", isMute);
                    break;

                case"ExitRoom":
                    console.log("ExitRoom");
                    break;
            }

        });

    };

    var exitVideoRoom = function(){
        if (Controller == null){
            return;
        }
        Controller.ExitRoom();
        Controller = null;

    };



    /////////////////////////////


</script>

{/block}