{extend name="extra@phone/main"}

{block name="body"}
<style>
    .rec_tou
    {
        background: url("__STATIC__/plugs/proom/img/rec_bg.png");
        background-size:100%
    }
    .recharge{
        background: #f5f5f5;
    }
    .rec_div{
        text-align: center;
        color: #000000;
        margin: 8px auto;
    }
    .clear{ clear:both;}
</style>

<!--top-->
<div class="top_c">
    <a data-href='{:url("phone/wallet/index")}' href="javascript:void(0)" class="iconfont icon-jiantou-copy-copy" ></a>
    <a href="detailed.html" class="ming">明细</a>
    <p class="titi">充值</p>
</div>
<div class="rec_tou"  style="height: 130px;">
    <div style="float: left;  width: 48%">

    <div class="rec_z">
        <b style="color: #000000;border: none;margin-bottom: 0px">{$coin}</b>
        <span style="color: #000000">我的金币</span>
    </div>
    </div>

    <div style="float: left; width: 48%">
    <div class="rec_z" >
        <b style="color: #000000;border: none;margin-bottom: 0px">{$free_coin}</b>
        <span style="color: #000000">我的娃娃币</span>
    </div>
    </div>
    <div class="clear" style="text-align: center">
        <img src="__STATIC__/plugs/proom/img/adou.png" width="11%">
    </div>

</div>

<div class="product" style="background: none">

    <!--内容-->
    <div class="container">
        {foreach $list as $key=>$vo}
        {if $key%2 eq 0}
        <div class="recharge" style="float: left">
        {else}
        <div class="recharge" style="float: right">
        {/if}
            <a onclick="mini_send('{$vo.icons_type}')">
                <div style="color: #000000"> {$vo.icons_name}</div>
                <div class="rec_div"> {$vo.free_value}娃娃币</div>
                <div class="rec_div"><img width="60px" height="60px" src="__STATIC__/{$vo.coin_pic}"></div>
                <div class="rec_div" style="width: 50%;background:#ffd800;border: 1px solid #ffd800;border-radius: 10px ">￥{$vo.pay_value}</div>

            </a>
        </div>
            {/foreach}
    </div>
</div>

</div>


{/block}

{block name="script"}
<script src="__STATIC__/plugs/phone/js/jquery.min.js" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/index.js" type="text/javascript"></script>

<script>

    var  mini_send = function(payType){

        var perOrderPara = '';
        var perObj = '';
        $.ajax("{:url('phone/wallet/payment')}", {
            dataType: 'json', method: 'post', data:{icons_type:payType},
            success: function (ret) {

                //预订单参数
                perOrderPara = ret;

                if( perOrderPara.length <= 0 ){
                    alert('order para is null');
                    perObj = 'order para is null';
                }else{
                    //alert('order =' + perOrderPara);
                    var perObj = JSON.parse(perOrderPara);
                }
                console.log('payment info: ' + perOrderPara)
                //异常判断 处理
                /* if( !perObj.code){
                 if(perObj.code == 2){

                 }

                 return;
                 }*/

                require(['phone.jweixin'], function (wx) {
                    console.log(wx)
                    wx.miniProgram.getEnv(function(res) {
                                var isMini =  res.miniprogram;

                                console.log(isMini) // true
                            }
                    );
                    //点击微信支付后，调取统一下单接口生成微信小程序支付需要的支付参数

                    var params = '?prePayId=' + perObj.prepayId + '&order_no=' + perObj.order_no
                            + '&timestamp=' + perObj.timeStamp + '&nonceStr=' + perObj.nonceStr
                            + '&signType=' + perObj.signType + '&paySign=' + perObj.paySign;


                    var path = '/pages/wxpay/wxpay' + params;
                    wx.miniProgram.navigateTo({
                        url: path,
                        success: function(){
                            console.log('navigateTo wxpay success')
                        },
                        fail: function(){
                            console.log('fail');
                        },
                        complete:function(){
                            console.log('navigateTo wxpay complete');
                        }

                    });

                })

            }
        });

    }

</script>

{/block}