{extend name="extra@phone/main"}

{block name="header"}

<style>
    .icon-img{
        width: 34px;
    }
    .re_bt{
        border: 1px solid orange;
        text-align: center;
        border-radius: 10px;
        background: orange;
    }
    .zhang{
        background: url("__STATIC__/plugs/proom/img/gr_bg.png");
        background-size:100%
    }
</style>
{/block}


{block name="body"}


<!--top-->
<div class="top_c">
    <p class="titi">钱包</p>
</div>

<!--头部-->
<div class="rec_tou"  style="height: 130px;">
    <div style="float: left; height: 100%; width: 48%">

        <div class="rec_z">
            <span style="color: #000000">可用余额（元）</span>
            <b style="color: #000000">{$user_coin}</b>
        </div>
    </div>

    <div style="float: left; height: 100%; width: 48%">
        <div class="rec_z" >
            <span style="color: #000000">剩余娃娃币</span>
            <b style="color: #000000">{$free_coin}</b>
        </div>
    </div>
</div>

<!--列表-->
<div class="lie_b">
    <div class="container">
        <div class="one">
            <a data-href='{:url("phone/wallet/recharge")}' href="javascript:void(0)">
                <p class="biao"><span class="iconfont"><img src="__STATIC__/plugs/proom/img/recharge.png" class="icon-img"/></span>
                    充值<i class="iconfont icon-jiantou"></i>
                </p>
            </a>
        </div>
        <div class="one" style="border-bottom:none;">
            <a data-href='{:url("phone/wallet/outcash")}' href="javascript:void(0)">
                <p class="biao"><span class="iconfont"><img src="__STATIC__/plugs/proom/img/outcash.png" class="icon-img"/></span>
                    提现<i class="iconfont icon-jiantou"></i>
                </p>
            </a>
        </div>
    </div>
</div>

<div class="lie_b">
    <div class="container">
        <div class="one">
            <a data-href='{:url("phone/wallet/bill")}?type=3' href="javascript:void(0)">
                <p class="biao"><span class="iconfont"><img src="__STATIC__/plugs/proom/img/income.png" class="icon-img"/></span>
                    收益记录<i class="iconfont icon-jiantou"></i>
                </p>
            </a>
        </div>
        <div class="one" >
            <a data-href='{:url("phone/wallet/bill")}?type=1' href="javascript:void(0)">
                <p class="biao"><span class="iconfont"><img src="__STATIC__/plugs/proom/img/qbdd.png" class="icon-img"/></span>
                    充值账单<i class="iconfont icon-jiantou"></i>
                </p>
            </a>
        </div>
        <div class="one" style="border-bottom:none;">
            <a data-href='{:url("phone/wallet/bill")}?type=2' href="javascript:void(0)">
                <p class="biao"><span class="iconfont"><img src="__STATIC__/plugs/proom/img/qbdd.png" class="icon-img"/></span>
                    消费账单<i class="iconfont icon-jiantou"></i>
                </p>
            </a>
        </div>
    </div>
</div>




{/block}


{block name="foot"}
{include file="extra@phone/foot"}
{/block}

{block name="script"}
<script src="__STATIC__/plugs/phone/js/jquery.min.js?ver={:date('ymd')}" type="text/javascript"></script>

<script src="__STATIC__/plugs/phone/js/bootstrap.min.js?ver={:date('ymd')}" type="text/javascript"></script>
<script src="__STATIC__/plugs/phone/js/index.js?ver={:date('ymd')}" type="text/javascript"></script>

<script>
    $(function(){
        //选中 菜单点击事件
        $(".xz_qb").click();

    })
</script>


{/block}
